<div class="comment-item">
  <div class="box-label">
    <%= image_tag "moments/details/avatar_shadow_white.png", :class => "user-avatar-shadow" %>
    <%= image_tag comment["user"]["avatar_file"], :alt => "创建者:" + comment["user"]["name"], :class => "user-avatar" %> 
  </div>
  <div class="box-wrapper">
    <div class="box-title">
      <span class="author"><%= comment["user"]["name"] %></span>
      <span class="created-time"> <%= (time_ago_in_words Date.parse(comment["created_at"])) + "前" %> </span>
    </div>
    <div class="box-content">
      <%= comment['content'] %>
      <a href="javascript:void(0)" class="action-mention"></a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>