<!--获奖名单 & 排行榜-->
<div class="row-fluid">
    <div class="span12">
        <div class="text-center block-title">
            排行榜单
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <div class="placard">
            <div class="title">
                原创达人 Top10
            </div>
            <ul class="talent-container">
                <li>
                    <a href="/users/15383" class="avatar pull-left" title="霁野"><img alt="1" src="<%= @avatars[0] %>"></a>
                    <div class="info-container">
                        <div class="user-name">
                            <a href="/moments/2111451?md=ms"> 程莎莎 </a>
                        </div>
                        <p class="content">
                            原创点击数100
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <a href="/users/15383" class="avatar pull-left" title="霁野"><img alt="1" src="<%= @avatars[1] %>"></a>
                    <div class="info-container">
                        <div class="user-name">
                            <a href="/moments/2111451?md=ms"> 程莎莎 </a>
                        </div>
                        <p class="content">
                            原创点击数100
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <a href="/users/15383" class="avatar pull-left" title="霁野"><img alt="1" src="<%= @avatars[2] %>"></a>
                    <div class="info-container">
                        <div class="user-name">
                            <a href="/moments/2111451?md=ms"> 程莎莎 </a>
                        </div>
                        <p class="content">
                            原创点击数100
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
            <br>
            <%= link_to "查看总榜及获奖名单",
            {:controller => "weiboactive",:action => "top", :id => 1},
            :class => "btn-yellow-small" %>
        </div>
    </div>

    <div class="span6">
        <div class="placard">

            <div class="title">
                分享达人 Top10
            </div>
            <ul class="talent-container">
                <li>
                    <a href="/users/15383" class="avatar pull-left" title="霁野"><img alt="1" src="<%= @avatars[3] %>"></a>
                    <div class="info-container">
                        <div class="user-name">
                            <a href="/moments/2111451?md=ms"> 程莎莎 </a>
                        </div>
                        <p class="content">
                            原创点击数100
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <a href="/users/15383" class="avatar pull-left" title="霁野"><img alt="1" src="<%= @avatars[4] %>"></a>
                    <div class="info-container">
                        <div class="user-name">
                            <a href="/moments/2111451?md=ms"> 程莎莎 </a>
                        </div>
                        <p class="content">
                            原创点击数100
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <a href="/users/15383" class="avatar pull-left" title="霁野"><img alt="1" src="<%= @avatars[5] %>"></a>
                    <div class="info-container">
                        <div class="user-name">
                            <a href="/moments/2111451?md=ms"> 程莎莎 </a>
                        </div>
                        <p class="content">
                            原创点击数100
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
            <br>
            <%= link_to "查看总榜及获奖名单",
            {:controller => "weiboactive",:action => "top", :id => 2},
            :class => "btn-cyanogen-small" %>
        </div>
    </div>
</div>
