<!--每日之星-->
<% unless @user0.nil? || @user1.nil? %>
<div class="row-fluid">
    <div class="span12">
        <div class="text-center block-title">
            每日之星
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <div class="user-container">
            <%= avatar_tag @user0, {:nolink => true, :class => "user-avatar"} %>
            <div class="user-content">
                <div class="user-name">
                    <%= @user0[:name] %>
                </div>
                <div class="user-award">
                    今日iPad mini得主
                </div>
                <%= link_to "如何获得iPad mini",
                {:controller => "weiboactive",:action => "rule_oa"},
                :class => "btn btn-yellow btn-large" %>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="user-container">
            <%= avatar_tag @user1, {:nolink => true, :class => "user-avatar"} %>
            <div class="user-content">
                <div class="user-name">
                    <%= @user1[:name] %>
                </div>
                <div class="user-award">
                    今日Tiffany得主
                </div>
                <%= link_to "如何获得Tiffany",
                {:controller => "weiboactive",:action => "rule_share"},
                :class => "btn btn-cyanogen btn-large" %>
            </div>
        </div>
    </div>
</div>
<% end %>
