<% unless @mobile %>
<header class="header">
    <div class="row-fluid">
        <div class="span5 desc">
            <p class="p26">
                参加照片微电影大赛
            </p>
            <p class="p30" style="margin-bottom: 26px;font-weight:bold;">
                赢欧洲双人游等大奖
            </p>
            <p class="p15" style="margin-bottom: 20px;">
                幻想和ta漫步塞纳河畔？憧憬爱琴海的蔚蓝天空？想要无穷无尽的Q币？想要iPad mini？想要Tiffany的项链？还是……难道你想要卡地亚戒指？！
            </p>
            <p class="p15" style="margin-bottom: 44px;">
                没问题！你的梦想，Vida微图记全部买单！
            </p>
            <%= link_to raw("<i class=\"icon-info-sign\"></i>&nbsp;&nbsp;规则说明"),
            {:controller => "weiboactive",:action => "rule"},
            :class => "btn btn-blue btn-large" %>
        </div>

        <div class="span7">
            <div class="span6">
                <div class="integral">
                    <% unless @cur_user.nil? %>
                    <%= link_to @currCreateScore, {:controller => "weiboactive",:action => "myprofile", :id => @cur_user[:id]} %>
                    <% else %>
                    <%= @currCreateScore %>
                    <% end %>
                </div>
                <p class="p22-5" style="margin-bottom: 12px;">
                    我的原创得分
                </p>
                <p class="p15" style="margin-bottom: 20px;">
                    下载Vida微图记，上传照片做成微电影并添加“<span class="label badge-info">#照片微电影大赛</span>”Tag，原创得分+10
                </p>
                <%= link_to "如何获得原创得分",
                {:controller => "weiboactive",:action => "rule_oa"},
                :class => "btn btn-yellow btn-large" %>
            </div>
            <div class="span6">
                <div class="integral">
                    <% unless @cur_user.nil? %>
                    <%= link_to @currShareScore, {:controller => "weiboactive",:action => "myprofile", :id => @cur_user[:id]} %>
                    <% else %>
                    <%= @currShareScore %>
                    <% end %>
                </div>
                <p class="p22-5" style="margin-bottom: 12px;">
                    我的分享得分
                </p>
                <p class="p15" style="margin-bottom: 20px;">
                    分享一次，传播得分+1，分享为微电影带来一次播放，传播得分+10 
                </p>
                <br>
                <%= link_to "如何获得分享得分",
                {:controller => "weiboactive",:action => "rule_share"},
                :class => "btn btn-cyanogen btn-large" %>
            </div>
        </div>
    </div>
</header>
<% else %>
<header class="header text-center">
    <div class="row-fluid">
        <div class="span6">
            <div class="integral">
                <% unless @cur_user.nil? %>
                <%= link_to @currCreateScore, {:controller => "weiboactive",:action => "myprofile", :id => @cur_user[:id]} %>
                <% else %>
                <%= @currCreateScore %>
                <% end %>
            </div>
            <p class="p22-5" style="margin-bottom: 12px;">
                我的原创得分
            </p>
            <%= link_to "如何获得原创得分",
            {:controller => "weiboactive",:action => "rule_oa"},
            :class => "btn btn-yellow btn-large" %>
        </div>
        <div class="span6">
            <div class="integral">
                <% unless @cur_user.nil? %>
                <%= link_to @currShareScore, {:controller => "weiboactive",:action => "myprofile", :id => @cur_user[:id]} %>
                <% else %>
                <%= @currShareScore %>
                <% end %>
            </div>
            <p class="p22-5" style="margin-bottom: 12px;">
                我的分享得分
            </p>
            <%= link_to "如何获得分享得分",
            {:controller => "weiboactive",:action => "rule_share"},
            :class => "btn btn-cyanogen btn-large" %>
        </div>
    </div>
</header>
<% end %>

