<!-- Navbar ================================================== -->
<% unless user .nil? %>
<div class="row-fluid">
    <div class="span12">
        <%= link_to raw('<img src="/assets/weiboactive/home.png">'), {:controller=>"weiboactive", :action=>"index"}, :class=>"logo" %>
        <ul class="nav nav-list">
            <li class="active" style="line-height: 40px;">
                <%= link_to raw("<i class=\"icon-user\"></i>&nbsp;&nbsp; " + user[ :name ]),
                {:controller => "weiboactive",:action => "myprofile"},
                :class => "nav-btn" %>
            </li>
            <li style="line-height: 40px;">
                <%= link_to raw("<i class=\"icon-info-sign\"></i>&nbsp;&nbsp; 比赛规则"),
                {:controller => "weiboactive",:action => "rule"},
                :class => "nav-btn" %>
            </li>
        </ul>
    </div>
</div>
<% else -%>
<div class="row-fluid">
    <div class="span12">
        <%= link_to raw('<img src="/assets/weiboactive/home.png">'), {:controller=>"weiboactive", :action=>"index"}, :class=>"logo" %>
        <ul class="nav nav-list">
            <li class="active" style="line-height: 40px;">
                <a href="/auth/tqq"><i class="icon-user"></i>&nbsp;&nbsp; 登入腾讯微博参加比赛 </a>
            </li>
            <li style="line-height: 40px;">
                <%= link_to raw("<i class=\"icon-info-sign\"></i>&nbsp;&nbsp; 比赛规则"),
                {:controller => "weiboactive",:action => "rule"},
                :class => "nav-btn" %>
            </li>
        </ul>
    </div>
</div>
<% end -%>