<!--热门作品-->
<div class="row-fluid">
    <div class="span12">
        <div class="text-center block-title">
            <%= link_to "热门作品", controller:"weiboactive", action:"editorstory" -%>
        </div>
    </div>
</div>
<% unless @mobile == true %>
<div class="row-fluid">
    <div class="span3">
        <div class="thumbnail-pic">
            <img alt="300x200" src="<%= @photos[0] %>" />
            <div class="rls_container">
                <div class="rls_container_inner">
                    <p class="story_visited">
                        <i class="icon-folder-open"></i> 120
                    </p>
                    <p class="story_like">
                        <i class="icon-heart"></i> 80
                    </p>
                    <p class="story_share">
                        <i class="icon-share"></i> 50
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="story_container">
            <a href="/users/15383" class="avatar" title="霁野"><img alt="9c5527b2-6cb1-11e2-ad84-180373f6dd13" src="<%= @avatars[0] %>"></a>
            <div class="story_body">
                <h4 class="story_heading"><a href="/moments/2111451?md=ms"> #随拍 06月05日 </a></h4>
                <p class="story_username">
                    作者
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="tencent-share-container">
            <p>
                <a class="btn-blue-small" href="#"><i class="icon-share-alt"></i> 分享赢Q币</a>
            </p>
        </div>
    </div>
    <div class="span3">
        <div class="thumbnail-pic">
            <img alt="300x200" src="<%= @photos[1] %>" />
            <div class="rls_container">
                <div class="rls_container_inner">
                    <p class="story_visited">
                        <i class="icon-folder-open"></i> 120
                    </p>
                    <p class="story_like">
                        <i class="icon-heart"></i> 80
                    </p>
                    <p class="story_share">
                        <i class="icon-share"></i> 50
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="story_container">
            <a href="/users/15383" class="avatar" title="霁野"><img alt="9c5527b2-6cb1-11e2-ad84-180373f6dd13" src="<%= @avatars[1] %>"></a>
            <div class="story_body">
                <h4 class="story_heading"><a href="/moments/2111451?md=ms"> #随拍 06月05日 </a></h4>
                <p class="story_username">
                    作者
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="tencent-share-container">
            <p>
                <a class="btn-blue-small" href="#"><i class="icon-share-alt"></i> 分享赢Q币</a>
            </p>
        </div>
    </div>
    <div class="span3">
        <div class="thumbnail-pic">
            <img alt="300x200" src="<%= @photos[2] %>" />
            <div class="rls_container">
                <div class="rls_container_inner">
                    <p class="story_visited">
                        <i class="icon-folder-open"></i> 120
                    </p>
                    <p class="story_like">
                        <i class="icon-heart"></i> 80
                    </p>
                    <p class="story_share">
                        <i class="icon-share"></i> 50
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="story_container">
            <a href="/users/15383" class="avatar" title="霁野"><img alt="9c5527b2-6cb1-11e2-ad84-180373f6dd13" src="<%= @avatars[2] %>"></a>
            <div class="story_body">
                <h4 class="story_heading"><a href="/moments/2111451?md=ms"> #随拍 06月05日 </a></h4>
                <p class="story_username">
                    作者
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="tencent-share-container">
            <p>
                <a class="btn-blue-small" href="#"><i class="icon-share-alt"></i> 分享赢Q币</a>
            </p>
        </div>
    </div>
    <div class="span3">
        <div class="thumbnail-pic">
            <img alt="300x200" src="<%= @photos[3] %>" />
            <div class="rls_container">
                <div class="rls_container_inner">
                    <p class="story_visited">
                        <i class="icon-folder-open"></i> 120
                    </p>
                    <p class="story_like">
                        <i class="icon-heart"></i> 80
                    </p>
                    <p class="story_share">
                        <i class="icon-share"></i> 50
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="story_container">
            <a href="/users/15383" class="avatar" title="霁野"><img alt="9c5527b2-6cb1-11e2-ad84-180373f6dd13" src="<%= @avatars[3] %>"></a>
            <div class="story_body">
                <h4 class="story_heading"><a href="/moments/2111451?md=ms"> #随拍 06月05日 </a></h4>
                <p class="story_username">
                    作者
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="tencent-share-container">
            <p>
                <a class="btn-blue-small" href="#"><i class="icon-share-alt"></i> 分享赢Q币</a>
            </p>
        </div>
    </div>
</div>
<% else %>
<div class="row-fluid">
    <div class="span6">
        <div class="thumbnail-pic">
            <img alt="300x200" src="<%= @photos[0] %>" />
            <div class="rls_container">
                <div class="rls_container_inner">
                    <p class="story_visited">
                        <i class="icon-folder-open"></i> 120
                    </p>
                    <p class="story_like">
                        <i class="icon-heart"></i> 80
                    </p>
                    <p class="story_share">
                        <i class="icon-share"></i> 50
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="story_container">
            <a href="/users/15383" class="avatar" title="霁野"><img alt="9c5527b2-6cb1-11e2-ad84-180373f6dd13" src="<%= @avatars[0] %>"></a>
            <div class="story_body">
                <h4 class="story_heading"><a href="/moments/2111451?md=ms"> #随拍 06月05日 </a></h4>
                <p class="story_username">
                    作者
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="tencent-share-container">
            <p>
                <a class="btn-blue-small" href="#"><i class="icon-share-alt"></i> 分享赢Q币</a>
            </p>
        </div>
    </div>
    <div class="span6">
        <div class="thumbnail-pic">
            <img alt="300x200" src="<%= @photos[1] %>" />
            <div class="rls_container">
                <div class="rls_container_inner">
                    <p class="story_visited">
                        <i class="icon-folder-open"></i> 120
                    </p>
                    <p class="story_like">
                        <i class="icon-heart"></i> 80
                    </p>
                    <p class="story_share">
                        <i class="icon-share"></i> 50
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="story_container">
            <a href="/users/15383" class="avatar" title="霁野"><img alt="9c5527b2-6cb1-11e2-ad84-180373f6dd13" src="<%= @avatars[1] %>"></a>
            <div class="story_body">
                <h4 class="story_heading"><a href="/moments/2111451?md=ms"> #随拍 06月05日 </a></h4>
                <p class="story_username">
                    作者
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="tencent-share-container">
            <p>
                <a class="btn-blue-small" href="#"><i class="icon-share-alt"></i> 分享赢Q币</a>
            </p>
        </div>
    </div>
</div>

<% end %>