<% content_for :title do %>
所有编辑推荐作品
<% end %>

<!--所有编辑推荐作品-->
<div class="container wrapper">
    <%= render :partial => "nav", :locals => { :user => @cur_user } %>

    <% unless @mobile == true %>
    <%= storyGallery @momentEditor, "所有编辑推荐作品", 4 %>
    <% else %>
    <%= storyGallery @momentEditor, "所有编辑推荐作品", 2 %>
    <% end %>
    <% unless @momentPage == 1 || @momentPage == 0 %>
    <a href="/weiboactive/geteditorstory" class="more-link" data-toggle="load-more" data-total-page="<%= @momentPage %>" data-current-page="1">点击显示更多</a>
    <% end %>

    <%= render :partial => "footer" %>
</div>
