<div class="container wrapper">
    <% if @mobile %>
    <%= render :partial => "nav_mobile", :locals => { :user => @cur_user } %>
    <% else %>
    <%= render :partial => "nav", :locals => { :user => @cur_user } %>
    <% end %>

    <% if @mobile %>
    <%= render :partial => "header_00_mobile" %>
    <% else %>
    <%= render :partial => "header_00" %>
    <% end %>

    <%= render :partial => "daystar" %>

    <%= render :partial => "editorstory" %>

    <%= render :partial => "topstory" %>

    <%= render :partial => "award" %>

    <%= render :partial => "footer" %>

</div>
