<div class="container wrapper">
    <%= render :partial => "nav", :locals => { :user => @cur_user } %>

    <%= render :partial => "header" %>

    <%= render :partial => "daystar" %>

    <%= render :partial => "editorstory" %>

    <%= render :partial => "topstory" %>

    <%= render :partial => "award" %>

    <%= render :partial => "footer" %>
</div>
