<div class="container wrapper">
    <% if @mobile %>
        <%= render :partial => "nav_mobile", :locals => { :user => @cur_user } %>
        
        <%= render :partial => "header_mobile" %>
    
        <%= render :partial => "daystar" %>
    
        <%= render :partial => "editorstory" %>
    
        <%= render :partial => "topstory" %>
    
        <%= render :partial => "award" %>
    
        <%= render :partial => "footer" %>
    
    <% else %>
        <%= render :partial => "nav", :locals => { :user => @cur_user } %>
        
        <%= render :partial => "header" %>
    
        <%= render :partial => "daystar" %>
    
        <%= render :partial => "editorstory" %>
    
        <%= render :partial => "topstory" %>
    
        <%= render :partial => "award" %>
    
        <%= render :partial => "footer" %>
    <% end %>


</div>
