<div class="container wrapper">
    <%= render :partial => "nav", :locals => { :user => @cur_user } %>

    <%= render :partial => "myheader", :locals => { :user => @cur_user } %>

    <%= render :partial => "mystory" %>

    <%= render :partial => "myshare" %>

    <%= render :partial => "footer" %>
</div>
