<div class="container wrapper">
    <%= render :partial => "nav", :locals => { :user => @cur_user } %>

    <%= render :partial => "header_02", :locals => { :user => @cur_user } %>

    <!--我的作品-->
    <% unless @mobile == true %>
    <%= storyGallery @momentMyCreated, "我的作品", 4 %>
    <% else %>
    <%= storyGallery @momentMyCreated, "我的作品", 2 %>
    <% end %>

    <!--我的分享-->
    <% unless @mobile == true %>
    <%= storyGallery @momentMyShared, "我的分享", 4 %>
    <% else %>
    <%= storyGallery @momentMyShared, "我的分享", 2 %>
    <% end %>

    <%= render :partial => "footer" %>
</div>
