<div class="container wrapper">
    <% if @mobile %>
    <%= render :partial => "nav_mobile", :locals => { :user => @cur_user } %>

    <%= render :partial => "rule" %>

    <%= render :partial => "footer" %>
    <% else %>
    <%= render :partial => "nav", :locals => { :user => @cur_user } %>

    <%= render :partial => "rule" %>

    <%= render :partial => "footer" %>
    <% end %>
</div>
