<div class="container">
    <%= render :partial => "nav", :locals => { :user => @cur_user } %>

    <%= render :partial => "header_03" %>

    <%= render :partial => "daystar" %>

    <%= render :partial => "top" %>

    <%= render :partial => "footer" %>
</div>