<div id="user_nav_bar"> 
    <%= link_to "javascript:showStory()" , :class => "user_nav" , :id => "story_nav" do -%>
    	<p class="number" style="color:crimson"><%= usernav[ "moments_count" ] -%></p>
    	<p class="title" style="color:crimson">故事</p>
    <% end -%>
    <%= link_to "javascript:showLikecomment()" , :class => "user_nav" , :id => "lc_nav" do -%>
    	<p class="number"><%= usernav[ "likes_count" ] + usernav[ "comments_count" ] -%></p>
    	<p class="title">喜欢/评论</p>
    <% end -%>
    <%= link_to "javascript:showFollowing()" , :class => "user_nav" , :id => "fing_nav" do -%>
    	<p class="number"><%= usernav[ "followings_count" ] -%></p>
    	<p class="title">关注</p>
    <% end -%>
    <%= link_to "javascript:showFollowers()" , :class => "user_nav" , :id => "fer_nav" do -%>
    	<p class="number"><%= usernav[ "followers_count" ] -%></p>
    	<p class="title">粉丝</p>
    <% end -%>
    <div class="clearfix"> </div>
</div>
