<%= content_for :title do %>
  <%= get_name( @user ) %>Vida（微达） - 手机照片故事社区
<% end -%>

<%= content_for :page_specific_asset do %>
<script>
    //LAZY LOAD
	var page_now = 0 ;
    var userid_now = <%= params[ :id ] %> ;
    var is_current_user = <%= @current_user ? ( params[ :id ] .to_i == @cur_user[ :id ] .to_i ) .to_s : "false" %> ;
    function clearME()
    {
        $( ".user_nav p" ) .css( "color" , "" ) ;
        $( "#feed_container" ) .empty() ;
        $( "#refresh-link" ) .addClass( "mouse" ) ;
        page_now = 1 ;
    }

    function showStory()
    {
        if ( $( "#feed_container" ) .attr( "type" ) != "story" )
        {
            last_adjust_num = 0 ;
            last_arrange_num = 0 ;
            clearME() ;

            left_px = 0 , right_px = 0 ;
            $( "#story_nav p" ) .css( "color" , "crimson" ) ;
            $( "#main_block" ) .width( 850 ) ;
            $( "#user-show" ) .css( "min-width" , "850px" ) ;
            $( "#feed_container" ) .attr( "type" , "story" ) ;
            $( "#feed_container" ) .removeAttr( "dontarange" ) ;
            $( "#feed_container" ) .css( "background" , "" ) ;
            $( "#feed_container" ) .attr( "blockstyle" , "puzzle" ) ;
            $( "#refresh-link" ) .attr( "href" , "javascript:showStory()" ) ;
            $( "#refresh-link" ) .css( { width : "" , "margin-left" : "" } ) ;
            $( "#user_nav_arrow" ) .animate( { "left" : 34.75 } , 300 ) ;

            var param = "type=story" ;
            lazyload( "users" , userid_now , param ) ;
        } else 
        {
            var activity = $( ".activity_ids_before" ) .attr( "value" ) ;
            $( ".divparams" ) .remove() ;
            var param = "type=story&activity=" + activity ;
            lazyload( "users" , userid_now , param ) ;
        }
    }

    function showLikecomment()
    {
        if ( $( "#feed_container" ) .attr( "type" ) != "commentlike" )
        {
            clearME() ;

            $( "#lc_nav p" ) .css( "color" , "crimson" ) ;
            $( "#main_block" ) .width( 370 ) ;
            $( "#user-show" ) .css( "min-width" , "" ) ;
            $( "#feed_container" ) .attr( "type" , "commentlike" ) ;
            $( "#feed_container" ) .attr( "dontarange" , "true" ) ;
            $( "#feed_container" ) .css( "background" , "none" ) ;
            $( "#feed_container" ) .attr( "blockstyle" , "" ) ;
            $( "#refresh-link" ) .attr( "href" , "javascript:showLikecomment()" ) ;
            $( "#refresh-link" ) .css( { width : "100%" , "margin-left" : "0" } ) ;
            $( "#user_nav_arrow" ) .animate( { "left" : 127.25 } , 300 ) ;

            var param = "type=commentlike" ;
            lazyload( "users" , userid_now , param ) ;
        } else 
        {
            var comment = $( ".comment_ids_before" ) .attr( "value" ) ,
                like = $( ".like_ids_before" ) .attr( "value" ) ;
            $( ".divparams" ) .remove() ;
            var param = "type=commentlike&comment=" + comment + "&like=" + like ;
            lazyload( "users" , userid_now , param ) ;
        }
    }

    function showFollowing()
    {
        if ( $( "#feed_container" ) .attr( "type" ) != "following" )
        {
            clearME() ;

            $( "#fing_nav p" ) .css( "color" , "crimson" ) ;
            $( "#main_block" ) .width( 370 ) ;
            $( "#user-show" ) .css( "min-width" , "" ) ;
            $( "#feed_container" ) .attr( "type" , "following" ) ;
            $( "#feed_container" ) .attr( "blockstyle" , "" ) ;
            $( "#feed_container" ) .css( "background" , "none" ) ;
            $( "#refresh-link" ) .attr( "href" , "javascript:showFollowing()" ) ;
            $( "#refresh-link" ) .css( { width : "100%" , "margin-left" : "0" } ) ;
            $( "#user_nav_arrow" ) .animate( { "left" : 218.75 } , 300 ) ;

            var param = "type=following&page=" + page_now + "&current=" + is_current_user ;
            lazyload( "users" , userid_now , param ) ;
        } else 
        {
            page_now = page_now + 1 ;
            var param = "type=following&page=" + page_now + "&current=" + is_current_user ;
            lazyload( "users" , userid_now , param ) ;
        }
    }

    function showFollowers()
    {
        if ( $( "#feed_container" ) .attr( "type" ) != "followers" )
        {
            clearME() ;

            $( "#fer_nav p" ) .css( "color" , "crimson" ) ;
            $( "#main_block" ) .width( 370 ) ;
            $( "#user-show" ) .css( "min-width" , "" ) ;
            $( "#feed_container" ) .attr( "type" , "followers" ) ;
            $( "#feed_container" ) .attr( "blockstyle" , "" ) ;
            $( "#feed_container" ) .css( "background" , "none" ) ;
            $( "#refresh-link" ) .attr( "href" , "javascript:showFollowers()" ) ;
            $( "#refresh-link" ) .css( { width : "100%" , "margin-left" : "0" } ) ;
            $( "#user_nav_arrow" ) .animate( { "left" : 310.25 } , 300 ) ;

            var param = "type=followers&page=" + page_now + "&current=" + is_current_user ;
            lazyload( "users" , userid_now , param ) ;
        } else 
        {
            page_now = page_now + 1 ;
            var param = "type=followers&page=" + page_now + "&current=" + is_current_user ;
            lazyload( "users" , userid_now , param ) ;
        }
    }
</script>
<% end -%>

<%= content_for :page_specific_asset_tail do -%>
<script>
    <% unless @current_user && @status != 401 -%>
        $( "#story_nav" ) .removeAttr( "href" ) ;
        $( "#lc_nav" ) .removeAttr( "href" ) ;
        $( "#fing_nav" ) .removeAttr( "href" ) ;
        $( "#fer_nav" ) .removeAttr( "href" ) ;
        $( ".user_nav p" ) .css( "color" , "" ) ;
        $( "#user_info" ) .css( "top" , "-75px" ) ;
        $( "#main_block" ) .css( "height" , "50px" ) ;
    <% else -%>
        $( "#main_block" ) .css( "width" , "850px" ) ;
        $( "#user-show" ) .css( "min-width" , "850px" ) ;
    <% end -%>
</script>
<% end -%>

<div id="user-show">
 	<%= render :partial => "widgets/header" , :locals => { :user => @cur_user } %>
 	<%= render :partial => "widgets/cover" , :locals => { :cover => @user[ "cover_file" ] } %>
    <% unless @current_user -%>
        <div id="nopermission">您还没有登录, 登录后获取更多内容.</div>
    <% else -%>
        <% if @status == 401 -%>
            <div id="nopermission">Ta开启了仅粉丝可见, 关注Ta并获得通过, 就可以浏览其所有的生活轨迹</div>
        <% end -%>
    <% end -%>

    <div id="main_block">
        <div id="user_info">
            <%= render :partial => "users/userfeed" , :object => @user , :locals => { :is_self => false , :need_btn => @relation } -%>
            <%= render :partial => "users/usernav" , :object => @user , :locals => { :status => ( !@current_user ) || ( @status == 401 ) } -%>
        </div>

        <% if @current_user && @status != 401 -%>
            <div id="feed_container" type="story" blockstyle="puzzle">
                <%= render :partial => "widgets/feeds" , :collection => @feeds , :locals => { :boxtype => "datebox"}-%>
                <%= render :partial => "widgets/feedsparam" , :locals => { :qparams => @qparams } -%>
                <div class="clearfix last_clearfix"> </div>
            </div>
            <a id="refresh-link" class="mouse" href=javascript:showStory()>点击显示更多</a>
        <% end -%>
        <div class="clearfix"> </div>
    </div>

  	<%= render :partial => "widgets/login" %>
</div>
