<%= content_for :title do %>
  <%= @cur_user[ "name" ] %> - VIDA（唯达） - 你我的生活轨迹
<% end -%>

<div id="user-show">
 	<%= render :partial => "widgets/header" , :locals => { :user => @cur_user } %>
 	<%= render :partial => "widgets/cover" , :locals => { :cover => @user[ :cover_file ] } %>

 	<div id="main-block">
 		<div id="user-info">
 			<div style="float:left;"> <%= avatar_tag @user, :nolink => true %> </div>
 			<h1> <%= @user[ :name ] %> </h1>

 			<div id="user-info-button"> 				
 				<%= render :partial => "widgets/filter" %>
 				<a class="btn_dark btn_middle" href="#" style="margin-left:10px">
					<%= image_tag "images/icon_follow.png" , :alt => "" %>
				</a>
				<a class="btn_blue btn_middle" href="#" style="margin-left:10px">+关注</a>
 			</div>

 			<div class="clearfix"> </div>
 		</div>
 		<%= render :partial => "widgets/item", :collection => @moments['data'] , :locals => { :show_type => 1 } %>
 		<div class="clearfix"> </div>
 	</div>

 </div>