<%= content_for :title do %>
  <%= get_name( @user ) %>Vida（微达） - 手机微故事社区
<% end -%>

<%= content_for :page_specific_asset do %>
<script>
    //LAZY LOAD
	var page_now = 1 ;
    function goLazyLoad()
    {
        page_now = page_now + 1 ;
        var params = "page=" + page_now ;
        lazyload( "users" , <%= params[ :id ] %> , params ) ;
    }
    $( document ) .ready( function() {
        $("#me_filter").hover(function(){
            $("#me_filter .popup_container").slideToggle(100);
        });
    });
</script>
<% end -%>

<div id="user-show">
 	<%= render :partial => "widgets/header" , :locals => { :user => @cur_user } %>
 	<%= render :partial => "widgets/cover" , :locals => { :cover => @user[ :cover_file ] } %>
<% if @result == 401 -%>
    <%= image_tag "images/private_tips.png" , :id => "lock" -%>
<% end -%>

 	<div id="main-block">
 		<div id="user-info">
 			<div style="float:left;"> <%= avatar_tag @user , :nolink => true %> </div>
 			<h1> <%= @user[ :name ] %> </h1>
 	<% if @current_user %>
 			<div id="user-info-button">
                <%= render :partial => "widgets/followdialogbtn" , :locals => { :user => @user } %>
				<%= render :partial => "widgets/followingbtn" , :locals => { :tag => @following_tag , :uid => @user[ :id ] , :size => "btn_middle" } %>
 			</div>
    <% end %>
 			<div class="clearfix"> </div>
 		</div>
 <% if @current_user -%>
 		<div id="following-list">
 			<%= render :partial => "widgets/timeline", :object => @moments , :locals => { :show_type => "date" } %>
    <% if @moments .length == 0 -%>
        <% if @following_tag .nil? -%>
            <div class="text-info"> <p>您还没有发布过照片和故事</p> </div>
        <% else -%>
            <div class="text-info"> <p>TA还没有发布过照片和故事</p> </div>
        <% end -%>
    <% else -%>
        <% if params[ :category ] == "all" -%>
            <a id="refresh-link" class="mouse" href=javascript:goLazyLoad()>点击显示更多</a>
        <% end -%>
 			<div class="clearfix"> </div>
 		</div>
    <% end -%>
        <div class="clearfix"> </div>
 	</div>
 <% else -%>
 		<div class="text-info">
 			<p>登录后查看更多内容</p>
 		</div>
 	</div>
  	<%= render :partial => "widgets/login" %>
 <% end -%>
</div>
