<div class="side-row-box-top"></div>

<div class="side-row-box" id="activity-info">
	<%= image_tag "moments/details/right_arrow.png", :class => "minor-arrow-r" %>

	<%= avatar_tag activity[:user] %>
	<div class="box-wrapper">
		<div class="box-title">
			<%= activity[:user][:name] %>
			<span class="created-time"> <%= (time_ago_in_words Date.parse(activity[:created_at])) + "å‰" %> </span>
		</div>
		<div class="box-content">
			<%= activity[:description] %>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<div class="side-row-box-bottom"></div>
