<li>
    <a href="/users/<%= award_item["user_id"] %>" class="avatar pull-left" title="霁野"><img alt="1" src="<%= award_item["user"]["avatar_file"] %>"></a>
    <div class="info-container">
        <div class="user-name">
            <a href="/users/<%= award_item["user_id"] %>"> <%= award_item["user"]["name"] %> </a>
        </div>
        <p class="content">
            <% if show_type == "create" %>
            原创点击数<%= award_item["create_played_count"] %>
            <% elsif show_type == "shared" %>
            分享点击数<%= award_item["shared_played_count"] %>
            <% elsif show_type == "award" %>
            iPad mini 得主
            <% end %>
        </p>
    </div>
    <div class="clearfix"></div>
</li>
