<%# 
	Usage :
		Create a feed bubble~

	Params :
		show_type - [ "datebox" , "user" (define)] (左上角显示图样是日历框还是头像框)
		act_user ：由于 user/:id/moments 在feeds中无user参数，所以使用act_user将user传递进来。
%>
<% feeds[ "user" ] = act_user if defined?( act_user ) -%>
<% show_type = "user" if show_type .nil? -%>
<div class="feed" id="<%= feed_id feeds %>"> <!-- feeds id missed 'moment1325523'-->
	<div class="mlcontainer"> 
		<div class="mlbox">

			<%# Activity feed %>
			<% if feeds[ "feed_type" ] == "activity_feed" -%>

				<% if show_type == "user" -%>
					<%= avatar_tag_b( feeds[ "user" ] , { :class => "float_avatar" } ) %>
				<% else -%>
					<%= datebox_tag( get_time( feeds[ "moment" ] ) ) %>
				<% end -%>

				<div class="mlinfo">
					<p class="mltitle"><%= moment_name feeds[ "moment" ] %></p>
					<div class="mldata">
						<p class="mltime"> <%= time_ago_now( get_time( feeds ) ) %>前 </p>
						<div class="clearfix"></div>
					</div>
					<p class="mlsubtitle"><%= link_to feeds[ "user" ] [ "name" ] , "/users/#{ feeds[ "user" ] [ "id" ] }" %>&nbsp;| 照片 <%= feeds[ "moment" ] [ "activity_count" ] %></p>
				</div>

				<div class="image_container">
					<%= render :partial => "widgets/puzzle" , :object => feeds[ "activities" ] [ 0 , 9 ] %>
					<div class="clearfix"> </div>
				</div>

				<div class="poitag_info">
					<%= render :partial => "/widgets/poi" , :collection => feeds[ "pois" ] -%>
					<%= render :partial => "/widgets/tag" , :collection => feeds[ "tags" ] -%>
					<div class="clearfix"> </div>
				</div>

				<div class="mlbtn">
					<%= link_to "" , "/moments/#{ feeds[ "moment" ] [ "id" ] }" , :class => "play_slideshow" -%>
					<%= link_to like_moment_url( feeds[ "moment" ] [ "id" ] ) , :id => "like#{ feeds[ "moment" ] [ "id" ] }" , :class => "like_moment unlike" , :remote => true , :method => "PUT" do -%>
						<%= feeds[ "moment" ] [ "likes_count" ] -%>
					<% end -%>
				</div>

				<div class="clearfix"></div>

				<%= image_tag "icon/icon_timeline_story.png" , :class => "feeds_icon feeds_icon_left" -%>
				<%= image_tag "icon/icon_timeline_story.png" , :class => "feeds_icon feeds_icon_right" -%>
			<% end -%>

			<%# Comment feed %>
			<% if feeds[ "feed_type" ] == "comment_feed" -%>
				<div class="mlcommentlike">
					<%= avatar_tag_b( feeds[ "user" ] , { :class => "mlcommentlike_image_left" } ) %>
					<%= image_tag "icon/icon_small_comment.png" , :class => "mlcommentlike_icon" %>
					<div class="mlcommentlike_content">
						<p> 
							<span>评论了</span> <%= feeds[ "content" ] -%>
						</p>
						<p class="mltime"> <%= time_ago_now( get_time( feeds ) ) %>前 </p>
					</div>
					<% if feeds[ "type" ] == "moment" -%>
						<%= link_to image_tag( "feeds/story_thum_mask.png" ) , "/moments/#{ feeds[ "moment" ] [ "id" ] }?md=ms" , :class => "mlcommentlike_image_right" , :style => "background:url('#{ feeds[ "moment" ] [ "image_small" ] }') no-repeat scroll center center white; background-size: cover;" -%>
					<% else #is activity -%>
						<%= link_to "" , "/activities/#{ feeds[ "activity" ] [ "id" ] }?md=ms" , :class => "mlcommentlike_image_right" , :style => "background:url('#{ feeds[ "activity" ] [ "image_small" ] }') no-repeat scroll center center white; background-size: cover;" -%>
					<% end -%>
					<div class="clearfix"> </div>
				</div>
				<%= image_tag "icon/icon_timeline_comment.png" , :class => "feeds_icon feeds_icon_left" -%>
				<%= image_tag "icon/icon_timeline_comment.png" , :class => "feeds_icon feeds_icon_right" -%>
			<% end -%>

			<%# Like feed %>
			<% if feeds[ "feed_type" ] == "like_feed" -%>
				<div class="mlcommentlike">
					<% for user in feeds[ "users" ] do -%>
						<%= avatar_tag_b user , { :class => "mlcommentlike_image_left" } %>
					<% end -%>
					<%= image_tag "icon/icon_small_like.png" , :class => "mlcommentlike_icon" %>

					<% if feeds[ "type" ] == "moment" -%>
						<% feeds[ "moment" ] [ "created_at" ] = feeds[ "created_at" ] -%>
						<div class="mlcommentlike_content" style="width:<%=225-45*(feeds[ "users" ].length-1)-%>px">
							<p> 
								<span>喜欢了</span> #<%= moment_category_by_num feeds[ "moment" ] [ "category_id" ] %> <%= moment_name( feeds[ "moment" ] ) -%>
							</p>
							<p class="mltime"> <%= time_ago_now( get_time( feeds ) ) %>前 </p>
						</div>
						<%= link_to image_tag( "feeds/story_thum_mask.png" ) , "/moments/#{ feeds[ "moment" ] [ "id" ] }?md=ms" , :class => "mlcommentlike_image_right" , :style => "background:url('#{ feeds[ "moment" ] [ "image_small" ] }') no-repeat scroll center center white; background-size: cover;" -%>
					<% else #is activity -%>
						<div class="mlcommentlike_content" style="width:90px">
							<p> 
								<span>喜欢了</span>
							</p>
							<p class="mltime"> <%= time_ago_now( get_time( feeds ) ) %>前 </p>
						</div>
						<% for activity in feeds[ "activities" ] [ 0 , 3 ] do -%>
							<%= link_to "" , "/activities/#{ activity[ "id" ] }?md=ms" , :class => "mlcommentlike_image_right" , :style => "background:url('#{ activity[ "image_small" ] }') no-repeat scroll center center white; background-size: cover;" -%>
						<% end -%>
					<% end -%>
					<div class="clearfix"> </div>
				</div>
				<%= image_tag "icon/icon_timeline_like.png" , :class => "feeds_icon feeds_icon_left" -%>
				<%= image_tag "icon/icon_timeline_like.png" , :class => "feeds_icon feeds_icon_right" -%>
			<% end -%>

			<%= image_tag "images/mlarrow_right.png" , :class => "mlarrow mlarrow_right" %>
			<%= image_tag "images/mlarrow_left.png" , :class => "mlarrow mlarrow_left" %> 
		</div>
	</div>
	<div class="clearfix"> </div>
</div>
