<div id="me_filter">
	<a href="#" id="top_menu">
		<p><%= moment_category( now ) %></p>
		<div>
			<%= image_tag "images/icon_arrow.png" , :alt => "" %>
		</div>
	</a>

	<div class="popup_container">		
		<a href="?category=all" class="list selectable">全部故事分类
		</a>
	<% data = [] if data .nil? %>
	<% data .each do | cate | -%>
	<% unless cate[ "count" ] .nil? -%>
		<a href="?category=<%= cate[ "category" ] %>" class="list selectable">
			<%= moment_category( cate[ "category" ] ) %><font><%= cate[ "count" ] %></font>
		</a>
	<% end -%>
	<% end -%>
	</div>

	<div class="clearfix"></div>
</div>
