<% if tag == 0 %>
	<%= link_to "+关注" , following_user_url( uid ) + "?type=following" , 
		:class => "btn_blue " + size , :id => "following-tag#{ uid }" , 
		:remote => true , :method => :put %>
<% else %>
<% if tag == 1 %>
	<%= link_to "取消关注" , following_user_url( uid ) + "?type=none" , 
		:class => "btn_red " + size , :id => "cancel-tag#{ uid }" , 
		:remote => true , :method => :put %>
<% else %>
<% if tag == 2 %>
	<a class="btn_dark <%= size %>" id="waiting-tag<%= uid %>">等待对方批准</a>
<% end %>
<% end %>
<% end %>
<script type="text/javascript">
	$( "#following-tag<%= uid %>,#cancel-tag<%= uid %>" ) .click( function() {
		$( this ) .text( "请稍侯.." ) ;
		$( this ) .trigger( "click.rails" ) ;
		return false ;
	});
</script>
