<div id="header">
	<div class="content">
		<%= image_tag "images/logo.png" , :alt => "" , :id => "logo" %>
		<ul>
		<% unless user .nil? -%>
			<li>
				<a href="/users/<%= user[ :id ] %>" class="avatar">
					<%= image_tag user[ :avatar_file ] , :alt => "" %> 
				</a>
				<a href="/users/<%= user[ :id ] %>" id="me" class="link"><%= user[ :name ] %></a>
			</li>
			<li>
				<a href="/home" id="activity" class="link">好友动态</a>
			</li>
		<% end -%>
			<li>
				<a href="/discover/index" id="discover" class="link">发现</a>
			</li>
		</ul>

	<% unless user .nil? %>
		<div id="header_btn">
			<!-- message btn -->
			<a href="#" class="btn_red btn_small">
				<%= image_tag "images/icon_message.png" , :alt => "" %>
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp消息
			</a>
			<!-- logout btn -->
			<a href="/auth/logout" class="btn_red btn_small">
				<%= image_tag "images/icon_logout.png" , :alt => "" %>
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp登出
			</a>
		</div>
	<% else -%>
		<div id="header_btn">
			<!-- login btn -->
			<a href="#" id="login-button" class="btn_red btn_small">
				<%= image_tag "images/icon_logout.png" , :alt => "" %>
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp登入
			</a>
		</div>
	<% end -%>
	</div>
</div>
