<div class="feed" id="moment<%= item[ 'id' ] %>">
	<div class="mlcontainer"> <!-- mlcontainer star -->
		<div class="mlbox">
			<div class="image_container">
				<% if block_style == "block" -%>
					<%= render :partial => "widgets/pic" , :collection => item[ "items" ] [ 0 , 3 ] %>
				<% end -%>
				<% if block_style == "puzzle" -%>
					<%= render :partial => "widgets/puzzle" , :object => item[ "items" ] [ 0 , 9 ] %>
				<% end -%>
				<div class="clearfix"> </div>
			</div>
			<div class="mlinfo">
				<p class="mltitle">#<%= moment_category item[ "category" ] %> <%= moment_name item %> </p>
				<div class="mldata">
					<p class="mllike"> <%= item[ "likes_count" ] %> </p>
					<p class="mlnumber"> <%= item[ "items_count" ] %> </p>
					<p class="mltime"> <%= time_ago_now( get_time( item ) ) %>前 </p>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<%= image_tag "images/mlarrow_right.png" , :class => "mlarrow mlarrow_right" %>
			<%= image_tag "images/mlarrow_left.png" , :class => "mlarrow mlarrow_left" %> 
			<%= image_tag "icon/icon_timeline_story.png" , :class => "feeds_icon feeds_icon_left" -%>
			<%= image_tag "icon/icon_timeline_story.png" , :class => "feeds_icon feeds_icon_right" -%>
		</div>
	</div>
	<div class="clearfix"> </div>
</div>
