<% is_left = ( item_counter % 2 == 0 ) -%>
<div class="feed">
	<div class="mlcontainer <%= is_left ? "feed_left" : "feed_right"%>"> <!-- mlcontainer star -->
		<div class="mlbox">
			<div class="image_container">
				<%= render :partial => "widgets/pic" , :collection => item[ "items" ] [ 0 , 3 ] %>
				<div class="clearfix"> </div>
			</div>
			<div class="mlinfo">
				<p class="mltitle">#<%= moment_category item[ "category" ] %> <%= moment_name item %> </p>
				<div class="mldata">
					<p class="mllike"> <%= item[ "likes_count" ] %> </p>
					<p class="mlnumber"> <%= item[ "items_count" ] %> </p>
					<p class="mltime"> <%= time_ago_now( item[ "modified_at" ] ) %>前 </p>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	<% if is_left -%>
		<%= image_tag "images/mlarrow_right.png" , :class => "mlarrow mlarrow_right" %>
	<% else -%>
		<%= image_tag "images/mlarrow_left.png" , :class => "mlarrow mlarrow_left" %>
	<% end -%>
	</div><!-- mlcontainer end -->
<% if show_type == "user" -%>
	<%= avatar_tag item[ "user" ] , :class => is_left ? "feed_left" : "feed_right" %>
<% else -%>
	<div class="datebox <%= is_left ? "feed_left" : "feed_right" %>">
		<p class="month"><%= item[ "modified_at" ] [ 0 , 7 ] %></p>
		<p class="day"><%= item[ "modified_at" ] [ 8 , 2 ] %></p>
	</div>
<% end -%>
	<div class="clearfix"> </div>
</div>
