<!--
<a class="like<%= ' liked' if liked %>" href=javascript:likeActivity(<%= pid %>) id="like<%= pid %>">
	<%= count %>
</a>
-->
<% c = "like" -%>
<% c = c + " liked" if liked -%>
<%= link_to count , like_activity_url( pid ) , :class => c , :remote => true , :method => :put , :id => "like#{ pid }" %>
