<div id="login_detail" class="black_background need_destroy">
	<div id="login_with" class="popup_container">
		<p class="list">选择以下方式登入:</p>
		<a href="/auth/weibo" class="list selectable">
			<%= image_tag "icon/icon_sina.png" , :alt => "" %>
			<p>新浪微博</p>
			<div class="clearfix"></div>
		</a>
		<a href="/auth/renren" class="list selectable">
			<%= image_tag "icon/icon_renren.png" , :alt => "" %>
			<p>人人</p>
			<div class="clearfix"></div>
		</a>
		<a href="/auth2/douban" class="list selectable">
			<%= image_tag "icon/icon_douban.png" , :alt => "" %>
			<p>豆瓣</p>
			<div class="clearfix"></div>
		</a>
		<a href="/auth/tqq" class="list selectable">
			<%= image_tag "icon/icon_tencent.png" , :alt => "" %>
			<p>腾讯微博</p>
			<div class="clearfix"></div>
		</a>
		<a href="/auth/kaixin" class="list selectable">
			<%= image_tag "icon/icon_kaixin.png" , :alt => "" %> 
			<p>开心</p>
			<div class="clearfix"></div>
		</a>
	</div>
</div>