<div class="list<%= " read" unless unread %>">
	<p class="timer"> <%= time_ago_now( notification[ "created_at" ] ) %> </p>
	<%= avatar_tag notification[ "actor" ] %>
	<span>
		<a href="/users/<%=notification["actor"][:id]%>" class="user_name"> <%= notification[ "actor" ][ :name ] %> </a>
		<p class="content"> <%= notification[ "sentence" ] %> </p>
	<% unless notification[ "activity" ] .nil? -%>
		<%= link_to image_tag( notification[ "activity" ] [ "photo" ] [ "url_s" ] , :class => "message_thumbnail" ) , "/moments/#{notification[ "activity" ] [ "moment_id" ]}#activity#{notification[ "activity" ] [ "id" ]}" %>
	<% end -%>
	<% if [ 14 , 15 ] .find { |x| x == notification[ "notification_type" ] } -%>
		<%= link_to image_tag( notification[ "img_url" ] , :class => "message_thumbnail" ) , "/moments/#{notification[ "moment" ] [ "id" ]}" %>
	<% end -%>
	<!--
	<% if [ 11 , 13 , 51 , 52 ] .find { |x| x == notification[ "notification_type" ] } -%>
		<%= render :partial => "widgets/followingbtn" , :locals => { :uid => notification[ "actor" ] [ :id ] , :tag => 0 , :size => "btn_small" } %>
	<% end -%>
	-->
	</span>	
	<div class="clearfix"></div>
</div>
