<div class="feature_user<%= " " + type %>" style="float:left; width:<%= width %>;">
<% unless text .nil? -%>
	<h1 class="ribbon blue"> <%= text %> </h1>
<% end -%>
	<a href="/users/<%= staruser[ 'id' ] %>" class="user_cover" style="width:<%=width%>">
		<%= image_tag staruser[ "last_photo" ] [ "image_medium" ] , 
					  :class => "user_cover_photo" , 
					  :cheight => staruser[ "last_photo" ] [ "height" ] , 
					  :cwidth => staruser[ "last_photo" ] [ "width" ] %>
		<%= image_tag "images/user_cover_shadow.png" , :class => "user_cover_shadow" %>
	</a>
	<%= avatar_tag_b staruser %>
	<%= link_to staruser[ "name" ] , "/users/#{ staruser[ "id" ] } " , :class => "user_name" %>

	<div class="user_data">
		<h1> <%= staruser[ "moments_count" ] %> </h1>
		<p>故事</p>
	</div>
	<div class="user_data">
		<h1> <%= staruser[ "received_likes_count" ] %> </h1>
		<p>喜欢数</p>
	</div>
</div>
