<div class="feature_user<%= " " + type %>" style="float:left; width:<%= width %>;">
	<!-- <h1 class="ribbon blue">官方推荐</h1> -->
	<a href="/users/<%= staruser[ 'id' ] %>" class="user_cover" style="width:<%=width%>;">
		<%= image_tag staruser[ "photo" ] , :class => "user_cover_photo" , :style => "width:#{ width }" %>
		<%= image_tag "images/user_cover_shadow.png" , :class => "user_cover_shadow" %>
	</a>
	<%= avatar_tag staruser %>
	<%= link_to staruser[ :name ] , "/users/#{ staruser[ :id ] } " , :class => "user_name" %>

	<div class="user_data">
		<h1> <%= staruser[ :count_moments ] %> </h1>
		<p>故事</p>
	</div>
	<div class="user_data">
		<h1> <%= staruser[ :count_likes ] %> </h1>
		<p>喜欢数</p>
	</div>
	<!-- <a href="#" class="btn_blue">+关注</a> -->
</div>
