<div class="thumbnail-pic">    
    <img src="<%= wb_item[ "items" ] [ 0 ] [ "photo" ] [ "url_l" ] %>" alt="dd">
    <div class="rls_container">
        <div class="rls_container_inner">
            <div class="span6">
                <i class="icon-folder-open"></i> <%= wb_item[ "played_count" ] %>
            </div>
            <div class="span6">
                <i class="icon-share-alt"></i> <%= wb_item[ "shared_count" ] %>
            </div>
        </div>
    </div>
</div>
<div class="story_container">
    <%= avatar_tag_b( wb_item[ "user" ] , { :class => "float_avatar" } ) %>
    <div class="story_body">
        <h4 class="story_heading"><a href="/moments/<%= wb_item["id"] %>"> <%= wb_item["name"]%> </a></h4>
        <p class="story_username">
            <%= wb_item[ "user" ]["name"] %>
        </p>
    </div>
    <div class="clearfix"></div>
</div>
<div class="tencent-share-container">
    <p>
        <button href="#" class="btn btn-block btn-large btn-blue" data-toggle="share" moment-id="<%= wb_item["id"] %>" moment-name="<%= wb_item["name"]%>">分享赢Q币</button>
    </p>
</div>
