<%= content_for :title do %>
  VIDA（唯达） - 你我的生活轨迹
<% end -%>

<%= content_for :meta_description do %>
VIDA-唯达 Android版下载
<%  end-%>

<div id="android_download">
  <div id="android_download_header">
      <div id="preview-col">
        <%= image_tag "images/preview@2x.png" , :style => "max-width:100%;" %>
      </div>
      <div id="intro-col">
        <%= link_to root_url do %>
          <%= image_tag "android_logo.png" , :alt => "VIDA(唯达) for Android." %>
        <% end -%>
        <%= image_tag "vida-tagline.png" , :alt => "VIDA即时生活分享，串起你我的生活轨迹。" %>
        <p id="text0">适用于Android 2.3 以上手机</p>
        <div id="android_download_bar">
          <%= link_to "点击直接下载" , "" , :class => "btn_big btn_grey mouse" %>
          <%= link_to "通过豌豆荚一键安装" , "" , :class => "btn_big btn_blue mouse" %>
        </div>
        <%= image_tag "android_b_btn.png" , :id => "two_code_download" %>
        <div class="clearfix"> </div>
      </div>
  </div>
</div>
