<%= content_for :title do %>
  <%= @user[ :name ] %> - Vida（微达） - 手机照片故事社区
<% end -%>

<%= content_for :page_specific_asset do %>
<script>
    //LAZY LOAD
    function goLazyLoad()
    {
        var activity = $( ".activity_ids_before" ) .attr( "value" ) ,
            comment = $( ".comment_ids_before" ) .attr( "value" ) ,
            like = $( ".like_ids_before" ) .attr( "value" ) ;
        $( ".divparams" ) .remove() ;
        /*
        alert( activity ) ;
        alert( comment ) ;
        alert( like ) ;
        */
        var params = "activity=" + activity + "&comment=" + comment + "&like=" + like ;
        lazyload( "misc" , -256 , params ) ;
    }
</script>
<% end -%>

<div id="friend-show">
 	<%= render :partial => "widgets/header" , :locals => { :user => @user } %>
 	<%= render :partial => "widgets/cover" , :locals => { :cover => @user[ :cover_file ] } %>

 	<div id="main-block">
 		<div id="following-list">
 			<%= render :partial => "widgets/timeline" , :object => @moment , :locals => { :is_feed => true , :show_type => "user" , :block_style => "puzzle" , :qparams => @qparams } %>
            <a id="refresh-link" class="mouse" href=javascript:goLazyLoad()>点击显示更多</a>
 			<div class="clearfix"> </div>
 		</div>
 	<% if @moment .size == 0 -%>
 		<div class="text-info">
 			<p> 你还没有添加好友, 赶快去发现更多的朋友吧! </p>
 		</div>
 	<% end -%>
 	</div>
 </div>
