<%= content_for :title do %>
Vida（微达） - 生活 . 照片 . 微电影
<% end -%>

<%= content_for :meta_description do %>
Vida-微达，记录分享生活中每次精彩，用照片串起你我的生活轨迹。
<% end -%>

<%= content_for :page_specific_asset do %>
<style type="text/css">
  body {
    background: #1a1a1a ;
    min-width: 900px;
    overflow-x: auto;
  }

  #footer {
    color: #777777 ;
  }

  #footer a {
    color: #777777 ;
  }
</style>
<script type="text/javascript">
  function closeAndroid(){ $( "#android_download" ) .fadeOut( 400 ) ; }
  function openAndroid(){ $( "#android_download" ) .fadeIn( 400 ) ; }
</script>
<% end -%>

<div id="index">
  <div id="index_cover">
    <%= image_tag "index/iphone5_mockup.png" , :id => "center_phone" %>
    <div id="left_content">
      <%= image_tag "index/logo.png" , :id => "index_logo" %>
      <p id="index_logo_title">生活 . 照片 . 微电影</p>
      <div id="download_content">
        <div id="left_part">
          <%= image_tag "index/QRcode.png" %>
        </div>
        <div id="right_part">
          <%= link_to "" , "/d/iphone" , :class => "iphone_download" %>
          <a href=javascript:openAndroid() class="android_download"> </a>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div id="bottom_text">
      <p class="line"><B>Vida</B> 可能是最真实的照片微电影生活分享社区</p>
      <p class="line">已有近千万用户选择Vida 通过照片分享真实生活</p>
      <p class="line">现在加入, 一起发现分享生活之美</p>
    </div>
    <% unless @current_user -%>
      <%= link_to "登 入 >" , "#" , :id => "index_login_btn" , :class => "mouse login_btn" %>
    <% else -%>
      <%= link_to "进入Vida" , "/home" , :id => "index_login_btn" , :class => "mouse" %>
    <% end -%>
    <%= link_to "" , "/discover/index.html" , :id => "hot_stroy_btn" %>
    <%= link_to "" , "#intro1" , :class => "scroll_btn" , :style => "bottom: 30px;" -%>
  </div>

  <div id="android_download">
    <%= image_tag "index/android_logo.png" %>
    <p class="android_info">适用于Android 2.3以上手机</p>
    <%= link_to "" , "/d/android" , :id => "download" %>
    <%= link_to "" , "/d/android" , :id => "download_wandoujia" %>
    <%= link_to "" , "zhushou360://type=apk&name=Vida&url=#{ @android_url }" , :id => "download_360" %>
    <a class="android_close_btn" href=javascript:closeAndroid()><%= image_tag "icon/icon_close.png" -%></a>
  </div>

  <div id="intro1" class="intro_block">
    <%= image_tag "index/intro_bg_1.jpg" %>
    <p style="margin-top: 40px;">微游记, 美食记, 心情日记, 自拍秀, 生活点滴汇成微电影</p>
    <p style="margin-top: 5px;">让你的照片更有趣</p>
  </div>

  <div id="window1" class="window_block">
    <%= image_tag "index/big_bg_1.jpg" , :class => "background_img" %>
    <div class="grey_cover"> </div>
    <%= link_to "" , "#intro2" , :class => "scroll_btn" , :style => "bottom: 100px;" -%>
  </div>

  <div id="intro2" class="intro_block">
    <%= image_tag "index/intro_bg_2.jpg" %>
    <p style="margin-top: 15px;">自动将照片汇成照片微电影, 专有技术使照片微电影比播放视频<span style="font-size:108px; font-weight:200;">80%</span>省流量.</p>
  </div>

  <div id="window2" class="window_block">
    <%= image_tag "index/big_bg_2.jpg" , :class => "background_img" %>
    <div class="grey_cover"> </div>
    <%= link_to "" , "#intro3" , :class => "scroll_btn" , :style => "top: 100px;" -%>
  </div>

  <div id="intro3" class="intro_block">
    <%= image_tag "index/intro_bg_3.png" , :class => "float_camera" %>
    <p>业界最早推出并保持领先的实时特效镜头和渲染引擎</p>
    <p style="margin-top: 5px;">摄影摄像都可用, 所见即所拍</p>
    <p style="margin-top: 5px;">保证每个瞬间都精彩</p>
  </div>

  <%= render :partial => "widgets/login" -%>

  <script type="text/javascript">
    $( document ) .ready( function() {
      $( "a.scroll_btn" ) .smoothScroll( { speed : 1000 } ) ;
      if ( !( document.all ) ) // hack for ie
      {
        $( "#window1" ) .parallax( 0 , 0.3 ) ;
        $( "#window2" ) .parallax( 0 , 0.3 ) ; 
      } else 
      {
        $( ".background_img" ) .css( "display" , "block" ) ;
      }
    } ) ;
  </script>
</div>
