<%= content_for :title do %>
  Vida（微达） - 你我的生活轨迹
<% end -%>

<%= content_for :meta_description do %>
Vida-微达，记录分享生活中每次精彩，用照片串起你我的生活轨迹。
<% end -%>

<div id="index">
  <div id="index_head">
    <div id="red_block">
      <div id="pic_col">
        <%= image_tag "index/header_iphone.png" %>
      </div>
      <div id="intro_col">
        <div id="text">
          <%= image_tag "index/logo.png" %>
          <p>&nbsp;&nbsp;&nbsp;分享每个生活故事</p>
        </div>
        <%= render :partial => "widgets/download_bar", :locals => { :hide_title => true } %>
      </div>
    </div>
    <div id="grey_bar">
      <%= image_tag "index/grey_bar.png" %>
    </div>
  </div>

<% unless @current_user -%>
  <a id="login" style="position:absolute;right:50px;top:50px;" class="login_btn mouse">
    登 入
    <%= image_tag "icon/icon_detail.png" %>
  </a>
  <%= render :partial => "widgets/login" %>
<% else -%>
  <a id="login" style="position: absolute;right: 50px;top: 50px;" class="login_btn mouse" href="/home">
    进入Vida
    <%= image_tag "icon/icon_detail.png" %>
  </a>
<% end -%>

  <div id="staruser_block">
    <p id="staruser_head">星用户</p>
    <div id="staruser_list">
      <%= render :partial => "widgets/staruser" , :collection => @data[ "recommended" ] [ "users" ] [ 0 , 4 ] , :locals => { :type => "normal" , :width => "205px" , :text => nil } %>
      <div class="clearfix"> </div>
    </div>
  </div>

  <div id="theme_moment">
    <p id="theme_head">主题活动</p>
    <div id="theme_list">
      <%= render :partial => "widgets/hotstory" , :collection => @moments[ 0 , 3 ] , :locals => { :width => 280 , :height => 194 } %>
      <div class="clearfix"> </div>
    </div>
  </div>

</div>