<%= content_for :title do %>
  VIDA（唯达） - 你我的生活轨迹
<% end -%>

<%= content_for :meta_description do %>
VIDA-唯达，记录分享生活中每次精彩，用照片串起你我的生活轨迹。
<% end -%>

<%= content_for :page_specific_asset do %>
<script type="text/javascript">
jQuery( function() {
    var sum = $( "#hidden-place" ) .children() .length ;
    while ( sum > 0 ) 
    {
        var rand = randomNumber( 12 ) + 1 ;
        var temp_div ;
        if ( rand == 1 && sum >= 1 )
        {
            $( "#hidden-place" ) .find( ".thumbnail" ) .eq( 0 ) .css( "height" , "312px") ;
            $( "#hidden-place" ) .find( ".thumbnail" ) .eq( 0 ) .css( "width" , "1010px") ;
            $( "#hidden-place" ) .find( ".thumbnail" ) .eq( 0 ) .appendTo( "#hot-story-block" ) ;
            sum -= 1 ;
        } else
        if ( rand <= 2 && sum >= 2 )
        {
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 1 ) .css( "height" , "312px") ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 1 ) .css( "width" , "755px") ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 1 ) .appendTo( "#hot-story-block" ) ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 0 ) .css( "height" , "312px") ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 0 ) .appendTo( "#hot-story-block" ) ;
            sum -= 2 ;
        } else
        if ( rand <= 4 && sum >= 3 )
        {
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 2 ) .css( "height" , "312px") ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 2 ) .appendTo( "#hot-story-block" ) ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 1 ) .css( "height" , "312px") ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 1 ) .appendTo( "#hot-story-block" ) ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 0 ) .css( "height" , "312px") ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 0 ) .css( "width" , "500px") ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 0 ) .appendTo( "#hot-story-block" ) ;
            sum -= 3 ;
        } else
        if ( rand <= 6 && sum >= 4 )
        {
            $( "#hot-story-block" ) .append( "<div style='width:510px;float:left;'; id='insert-div'> </div>" ) ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 3 ) .css( "width" , "500px") ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 3 ) .appendTo( "#hot-story-block div#insert-div:last-child" ) ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 2 ) .appendTo( "#hot-story-block div#insert-div:last-child" ) ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 1 ) .appendTo( "#hot-story-block div#insert-div:last-child" ) ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 0 ) .css( "height" , "312px") ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 0 ) .css( "width" , "500px") ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 0 ) .appendTo( "#hot-story-block" ) ;
            sum -= 4 ;
        } else
        if ( rand <= 9 && sum >= 5 )
        {
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 4 ) .css( "height" , "312px") ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 4 ) .css( "width" , "500px") ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 4 ) .appendTo( "#hot-story-block" ) ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 3 ) .appendTo( "#hot-story-block" ) ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 2 ) .appendTo( "#hot-story-block" ) ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 1 ) .appendTo( "#hot-story-block" ) ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 0 ) .appendTo( "#hot-story-block" ) ;
            sum -= 5 ;
        } else
        if ( rand <= 12 && sum >= 6 )
        {
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 5 ) .css( "height" , "312px") ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 5 ) .appendTo( "#hot-story-block" ) ;
            $( "#hot-story-block" ) .append( "<div style='width:510px;float:left;'; id='insert-div'> </div>" ) ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 4 ) .appendTo( "#hot-story-block div#insert-div:last-child" ) ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 3 ) .appendTo( "#hot-story-block div#insert-div:last-child" ) ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 2 ) .appendTo( "#hot-story-block div#insert-div:last-child" ) ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 1 ) .appendTo( "#hot-story-block div#insert-div:last-child" ) ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 0 ) .css( "height" , "312px") ;
            $( "#hidden-place" ) .find( ".thumbnail") .eq( 0 ) .appendTo( "#hot-story-block" ) ;
            $( "#hot-story-block" ) .append( "<div class='clearfix'> </div>" ) ;
            sum -= 6 ;
        }
    }
    $( "#hot-story-block" ) .append( "<div class='clearfix'> </div>" ) ;
});
</script>
<% end -%>

<div id="index">
  <div id="index-header">
    <div id="index-header-shadow"> </div>
      <div id="index-header-block">
          <div id="preview-col">
            <%= image_tag "images/index_iphoneTemplate.png" , :style => "width:100%;" %>
          </div>
          <div id="intro-col">
            <div class="intro-text">
              <h1 class="font1">VIDA&nbsp</h1>
              <p class="font2">分享每个生活故事</p>
              <div class="clearfix"> </div>
            </div>
            <%= render :partial => "widgets/download_bar", :locals => { :hide_title => true } %>
            <div class="intro-text">
              <p class="font3">中国最流行的生活分享应用：</p>
              <ul>
                <li>* 多种分类模板:旅游,美食…照片, 视频点滴变成精彩故事;</li>
                <li>* 实时特效镜头和渲染引擎, 捕捉每个美化瞬间;</li>
                <li>* 分享给全世界还是只给闺密看, 由你来决定;</li>
              </ul>
            </div>
          </div>
        </div>
  </div>
  <div style="border-top:1px solid white;width:100%;"> </div>

<% unless @current_user -%>
  <a id="login" style="position:absolute;right:50px;top:50px;" class="login_btn mouse">
    登入
    <%= image_tag "icon/icon_detail.png" %>
  </a>
  <%= render :partial => "widgets/login" %>
<% else -%>
  <a id="login" style="position: absolute;right: 50px;top: 50px;" class="login_btn mouse" href="/home">
    进入VIDA
    <%= image_tag "icon/icon_detail.png" %>
  </a>
<% end -%>

  <div id="star-user">
    <div class="header-title">
      <%= image_tag "icon/icon_star_big.png" %>
      <%= link_to "/discover/staruser" do %>
        <h1 class="mouse">星用户</h1>
      <% end -%>
      <div class="clearfix"> </div>
    </div>
    <%= render :partial => "widgets/staruserlist" , :locals => { :stars => @data[ "stars" ] , :recommended => @data[ "recommended" ] , :wb => "505px" , :wn => "247.5px" , :count => 4 , :unit => 4 } %>
  </div>

  <div id="hot-story">
    <div class="header-title">
      <%= image_tag "icon/icon_hot_big.png" %>
      <%= link_to "/discover/index" do %>
        <h1 class="mouse">热门故事</h1>
      <% end -%>
      <div class="clearfix"> </div>
    </div>
    <div id="hot-story-block"> </div>
    <div class="clearfix"> </div>
  </div>

  <div id="hidden-place" style="display:none;">
  <% for moment in @moments -%>
    <div class="thumbnail">
      <%= link_to image_tag( moment[ "items" ] [ 0 ] [ "photo" ] [ "url_m" ] , :cwidth => moment["items"][0]["photo"]["width"] , :cheight => moment["items"][0]["photo"]["height"] ) , "/moments/#{ moment[ 'id' ] }" , :class => "thumb" %>
      <div class="thumb_info">
        <%= link_to moment[ "name" ] , "/moments/#{ moment[ 'id' ] }" %>
        <p> <%= moment[ "likes_count" ] %> </p>
      </div>
    </div>
  <% end -%>
  </div>
</div>
