<%= content_for :title do %>
  VIDA（唯达） - 你我的生活轨迹
<% end -%>

<%= content_for :meta_description do %>
VIDA-唯达，记录分享生活中每次精彩，用照片串起你我的生活轨迹。
<% end -%>

<div id="index">
  <div id="index-header">
      <div id="preview-col">
        <%= image_tag "images/preview@2x.png" , :style => "max-width:100%;" %>
      </div>
      <div id="intro-col">
        <div class="intro-text">
          <h1 class="font1">VIDA&nbsp</h1>
          <p class="font2">分享每个生活故事</p>
          <div class="clearfix"> </div>
        </div>
        <%= render :partial => "widgets/download_bar", :locals => {:hide_title => true} %>
        <div class="intro-text">
          <p class="font3">中国最流行的生活分享应用：</p>
          <ul>
            <li>* 多种分类模板:旅游,美食…照片, 视频点滴变成精彩故事;</li>
            <li>* 实时特效镜头和渲染引擎, 捕捉每个美化瞬间;</li>
            <li>* 分享给全世界还是只给闺密看, 由你来决定;</li>
          </ul>
        </div>
      </div>
  </div>
  <a id="login" style="position: absolute;right: 50px;top: 50px;" class="login_btn mouse">
    登入
    <%= image_tag "images/icon_detail.png" %>
  </a>

  <%= render :partial => "widgets/login" %>

  <div id="star-user">
    <h1 id="header-title">星用户</h1>
    <div style="margin-top:10px;">
      <%= render :partial => "widgets/staruser" , :collection => @staruser[ 0 , 2 ] , :locals => { :type => "big" , :width => "505px" } %>
      <div class="clearfix"> </div>
    </div>
    <div style="margin-top:10px;">
      <%= render :partial => "widgets/staruser" , :collection => @staruser[ 2 , 4 ] , :locals => { :type => "normal" , :width => "247.5px" } %>
      <div class="clearfix"> </div>
    </div>
  </div>

  <div id="hot-story">
    <h1 class="header-title">热门故事</h1>
  </div>

  <div id="hidden-place" style="display:none;">
  <% for moment in @moments -%>
    <div class="thumbnail">
      <%= link_to image_tag( moment[ "items" ] [ 0 ] [ "photo" ] [ "url_m" ] ) , "/moments/#{ moment[ 'id' ] }#activity#{ moment[ "items" ] [ 0 ] [ 'id' ] }" , :class => "thumb" %>
      <div class="thumb_info">
        <%= link_to moment[ "name" ] , "/moments/#{ moment[ 'id' ] }" %>
        <p> <%= moment[ "likes_count" ] %> </p>
      </div>
    </div>
  <% end -%>
  </div>
</div>
