<%= content_for :title do %>
  VIDA（唯达） - 你我的生活轨迹
<% end -%>

<%= content_for :meta_description do %>
VIDA-唯达，记录分享生活中每次精彩，用照片串起你我的生活轨迹。
<% end -%>

<div id="index">
  <div id="index-header">
      <div id="preview-col">
        <%= image_tag "images/preview@2x.png" , :style => "max-width:100%;" %>
      </div>
      <div id="intro-col">
        <div class="intro-text">
          <h1 class="font1">VIDA&nbsp</h1>
          <p class="font2">分享每个生活故事</p>
          <div class="clearfix"> </div>
        </div>
        <%= render :partial => "widgets/download_bar", :locals => {:hide_title => true} %>
        <div class="intro-text">
          <p class="font3">中国最流行的生活分享应用：</p>
          <ul>
            <li>* 多种分类模板:旅游,美食…照片, 视频点滴变成精彩故事;</li>
            <li>* 实时特效镜头和渲染引擎, 捕捉每个美化瞬间;</li>
            <li>* 分享给全世界还是只给闺密看, 由你来决定;</li>
          </ul>
        </div>
      </div>
  </div>
  <a href="#" id="login" style="position: absolute;right: 50px;top: 50px;">
    登入
    <%= image_tag "images/icon_detail.png" , :alt => "" %>
  </a>

  <%= render :partial => "widgets/login" %>

  <div id="hot-story">
  </div>

  <div id="hidden-place" style="display:none;">
  <% @moment .each do | moment | -%>
    <div class="thumbnail">
      <a class="thumb" href="#">
        <%= image_tag moment[ "items" ] [ 0 ] [ "photo" ] [ "url_m" ] %>
      </a>
      <div class="thumb_info">
        <a href="#"> <%= moment[ "name" ] %> </a>
        <p> <%= moment[ "likes_count" ] %> </p>
      </div>
    </div>
  <% end -%>
  </div>
</div>
