<head>
	<title> Vida（微达） - 手机微故事社区 </title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5, user-scalable=true">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<style type="text/css">
		body {
			margin:0;
			background-color: black;
			position:relative;
			width:100%;
			margin-bottom: 200px;
		}

		div#main-container {
			width:640px;
			margin:0px auto;
			position:relative;
		}

		img#icon {
			position:absolute;
			top:90px;
			left:28px;
		}

		a.head-btn {
			position:absolute;
			top:388px;
			margin-left:-141px;
			left: 50%;
		}

		a.foot-btn {
			position:absolute;
			bottom:60px;
			left:50%;
			margin-left:-141px;
		}

		img#bg_pic {
			width: 100%;
			z-index: -1;
			float: left;
		}

		.clearfix {
			clear: both;
		}
	</style>

</head>
<body>
	<div id="main-container">
		<%= image_tag "wap/mobile_web.jpg" , :id => "bg_pic" %>
		<div class="clearfix"> </div>
	</div>

	<% if @is_ios -%>
		<%= link_to "/d/iphone" , :class => "head-btn" do %>
			<%= image_tag "wap/app_store_download.png" %>
		<% end -%>
	<% else -%>
		<%= link_to "/d/android" , :class => "head-btn" do %>
			<%= image_tag "wap/android_download.png" %>
		<% end -%>
	<% end -%>

	<% if @is_ios -%>
		<%= link_to "/d/iphone" , :class => "foot-btn" do %>
			<%= image_tag "wap/app_store_download.png" %>
		<% end -%>
	<% else -%>
		<%= link_to "/d/android" , :class => "foot-btn" do %>
			<%= image_tag "wap/android_download.png" %>
		<% end -%>
	<% end -%>
</body>
