<div id="main-block-header">
	<%= image_tag titleimg %>
	<h1> <%= moment_category( name ) %> </h1>
<% unless sortbtn .nil? -%>
	<div id="sort-method"> 
		<%= link_to "最热" , "#{ request.fullpath }&sort_type=hottest" , :class => "btn_round" , :id => "hottest" %>
		<%= link_to "最新" , "#{ request.fullpath }&sort_type=latest" , :class => "btn_round" , :id => "latest" %>
	</div>
<% end -%>
	<div class="clearfix"> </div>
<% if defined? description -%>
	<div id="public_moment_description">
		<%= description %>
	</div>
<% end -%>
</div>
