<%= content_for :title do %>
  VIDA（唯达） - 你我的生活轨迹
<% end -%>

<div id="discover-page">
	<%= render :partial => "widgets/header" , :locals => { :user => @cur_user } %>
	<div id="main-main-block">
		<%= render :partial => "discover/sidebar" %>
		<div id="main-block">
			<div id="main-block-header">
				<%= image_tag "images/icon_star_small@2x.png" %>
				<h1> <%= moment_category( params[ :category ] ) %> </h1>
				<div id="sort-method"> </div>
				<div class="clearfix"> </div>
			</div>
			<%= render :partial => "widgets/item" , :collection => @moment[ "data" ] , :locals => { :show_type => 2 } %> 
		<div class="clearfix"> </div>
		</div>
	</div>
<% unless @current_user -%>
	<%= render :partial => "widgets/login" %>
<% end -%>
</div>