<%= content_for :title do %>
  VIDA（唯达） - 你我的生活轨迹
<% end -%>

<div id="discover-page">
	<%= render :partial => "widgets/header" , :locals => { :user => @cur_user } %>
	<div id="main-main-block">
		<%= render :partial => "discover/sidebar" %>
		<div id="main-block">
			<%= render :partial => "header" , :locals => { :category => params[ :category ] , :titleimg => "images/icon_star_small@2x.png" , :sortbtn => params[ :sort_type ] } %>
			<%= render :partial => "widgets/item" , :collection => @moment[ "data" ] , :locals => { :show_type => 2 } %> 
		<div class="clearfix"> </div>
		</div>
	</div>
<% unless @current_user -%>
	<%= render :partial => "widgets/login" %>
<% end -%>
</div>