<%= content_for :title do %>
  VIDA（唯达） - 你我的生活轨迹
<% end -%>

<%= content_for :page_specific_asset do %>
<script type="text/javascript">
jQuery( function() {
	var type = "<%= params[ :sort_type ] %>" ;
	$( "#" + type ) .css({
		"background-color" : "rgba(0,0,0,0.3)" ,
		"color" : "white" ,
		"text-shadow" : "none" 
	}) ;
});
</script>
<% end -%>

<div id="discover-page">
	<%= render :partial => "widgets/header" , :locals => { :user => @cur_user } %>
	<div id="main-main-block">
		<%= render :partial => "discover/sidebar" %>
		<div id="main-block">
			<%= render :partial => "header" , :locals => { :name => params[ :category ] , :titleimg => "icon/icon_" + params[ :category ] + "_big.png" , :sortbtn => params[ :sort_type ] } %>
			<%= render :partial => "widgets/timeline" , :object => @moment , :locals => { :show_type => "user" } %>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
<% unless @current_user -%>
	<%= render :partial => "widgets/login" %>
<% end -%>
</div>
