<%= content_for :title do %>
  精选故事 - VIDA（唯达） - 你我的生活轨迹
<% end -%>

<div id="discover-page">
	<%= render :partial => "widgets/header" , :locals => { :user => @cur_user } %>
	<div id="main-main-block">
		<%= render :partial => "discover/sidebar" %>
		<div id="main-block">
			<%= render :partial => "header" , :locals => { :name => "hot" , :titleimg =>"icon/icon_feature_big.png" , :sortbtn => nil } %>
			<div style="width:100%;border-top:1px dashed white;"> </div>
    		<div id="hot-story">
				<%= render :partial => "widgets/hotstory" , :collection => @official , :locals => { :width => 422 , :height => 212 } %>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
<% unless @current_user -%>
	<%= render :partial => "widgets/login" %>
<% end -%>
</div>
