<%= content_for :title do %>
  <%= @moment["data"]["name"] %> - VIDA（唯达） - 你我的生活轨迹
<% end -%>

<%= content_for :page_specific_asset do %>
  <%= javascript_include_tag "activities" %>
<% end %>

<div id="activity-show">
  <%= render :partial => "widgets/header" %>
  <div id="container">
    <div id="activity-col">
      <div id="main-row">
        <%= image_tag @activity['photo']['url_l'] %>
        <div id="like-bar">
          <%= link_to "like", like_activity_url(@activity['id']), :class => "like-btn" %>
          <span class="like-num"> <%= @activity['likes_count'] %> </span>

          <div class="like-users">
            <% @activity['likes_users'].each do |u| %>
            <div class="like-user">
              <%= image_tag "moments/details/avatar_shadow_white.png", :class => "user-avatar-shadow" %>
              <%= image_tag u['avatar_file'], :class => "user-avatar" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>

      <div id="comment-row">
        <div id="new-comment-box">
          <%= user_avatar_or_placeholder @current_user %>
          <%= render :partial => "comments/form", :locals => { :activity_id => @activity['id'] } %>
          <div class="clearfix"></div>
        </div>
        <div id="comment-list">
          <%= render :partial => "comments/comment", :collection => @activity['comments'] %>
        </div>
      </div>
    </div>

    <div id="info-col">
      <div class="side-row">
        <%= render :partial => "widgets/map", :locals => {:moment_id => @moment['data']['id'], :activities => [@activity] } %>
      </div>
      <div class="side-row">
        <%= render :partial => "widgets/activity_info", :locals => {:activity => @activity } %>
      </div>


      <div class="side-row">
        <%= render :partial => "moments/name", :locals => {:moment => @moment['data'] } %>
      </div>

      <div class="side-row collapse-row">
        <%= render :partial => "widgets/thumbnails", :locals => {:moment => @moment } %>
      </div>    

      <div class="side-row">
        <%= render :partial => "widgets/download_bar", :locals => {:hide_title => false} %>
      </div>
    </div>
  </div>
  
  <%= render :partial => "widgets/footer" %>

</div>