<%= content_for :title do %>
  <%= @moment["data"]["name"] %> - VIDA（唯达） - 你我的生活轨迹
<% end -%>

<%= content_for :page_specific_asset do %>
  <%= javascript_include_tag "activities" %>
  <%= javascript_include_tag "http://vjs.zencdn.net/c/video.js" %>
  <%= stylesheet_link_tag    "http://vjs.zencdn.net/c/video-js.css" %>
<% end %>

<div id="activity-show">
  <%= render :partial => "widgets/header" %>
  <div id="container">
    <div id="activity-col">
      <div id="main-row">
        <%= render :partial => "activity", :object => @activity %>
        <div id="like-bar">
          <%= link_to "like", like_activity_url(@activity['id']), :class => "like-btn #{'liked' if @activity['liked']}", :remote => true, :method => :PUT %>
          <span class="like-num"> <%= @activity['likes_count'] %> </span>

          <div class="like-users">
            <%= render :partial => "like_user", :collection => @activity['likes_users'] %>
          </div>
        </div>
      </div>

      <div id="comment-row">
        <div id="new-comment-box">
          <%= user_avatar_or_placeholder @current_user %>
          <%= render :partial => "comments/form", :locals => { :activity_id => @activity['id'] } %>
          <div class="clearfix"></div>
        </div>
        <% if @activity['comments_count'] > 0 %>
          <div id="comment-list">
            <%= render :partial => "comments/comment", :collection => @activity['comments'] %>
          </div>
        <% end %>
        <div id="comment-list-bottom"></div>

      </div>
    </div>

    <div id="info-col">
      <div class="side-row">
        <%= render :partial => "widgets/map", :locals => {:moment_id => @moment['data']['id'], :activities => [@activity] } %>
      </div>
      <div class="side-row">
        <%= render :partial => "widgets/activity_info", :locals => {:activity => @activity } %>
      </div>


      <div class="side-row">
        <%= render :partial => "moments/name", :locals => {:moment => @moment['data'] } %>
      </div>

      <div class="side-row collapse-row">
        <%= render :partial => "widgets/thumbnails", :locals => {:moment => @moment } %>
        <div class="side-row-box-bottom"></div>
      </div>    

      <div class="side-row">
        <%= render :partial => "widgets/download_bar", :locals => {:hide_title => false} %>
      </div>
    </div>
  </div>
  
  <%= render :partial => "widgets/footer" %>

  <div class="clearfix"></div>

</div>