<a href="javascript:showActivity(<%= {
		:activity_url => pic[ 'photo' ] [ 'url_l' ] ,
		:img_width => pic[ 'photo' ] [ 'width' ] ,
		:audio => pic[ 'audio' ] ,
		:video => pic[ 'video' ] 
	} .to_json %>)" class="photo_container">
	<%= image_tag pic[ 'photo' ] [ 'url_l' ] %>
	<% if pic[ "activity_type" ] == 3 -%>
		<%= image_tag "images/play.png" , :class => "video_btn" %>
	<% end -%>
	<% unless pic[ "poi" ] .nil? || pic[ "tags" ] .nil? || ( pic[ "poi" ] .empty? && pic[ "tags" ] .empty? ) -%>
		<div class="activity_other_info">
			<div class="black_cover"> </div>
			<%= render :partial => "/widgets/poi" , :object => pic[ "poi" ] -%>
			<%= render :partial => "/widgets/tag" , :collection => pic[ "tags" ] -%>
		</div>
	<% end -%>
</a>
