<% unless moment[ 'v_clickable' ] -%>
<div id="title-place" class="mouse">
    <h1>#<%= moment_category( moment[ "category" ] ) %> <%= moment_name moment %> </h1>
    <p> <% unless moment[ "modified_at" ] .nil? %><%= moment[ "modified_at" ] [ 0 .. 9 ] %><% end -%> </p>
</div>
<% else -%>
    <%= link_to URI::escape("/discover/public?name=#{moment['name']}") , :id => "vclick" , :class => "btn_dark btn_middle" do %>
        <%= image_tag "icon/icon_zhuti.png" %>
        <p> <%= moment_name moment %> </p>
    <% end -%>
<% end -%>
