<div class="photo_list">
	<div class="date">
		<span> <%= year_and_month_of(item['me_modified_at']).join "." %> </span>
		<h1> <%= day_of item['me_modified_at'] %> </h1>
	</div>

	<%= render :partial => "activities/thumbnail", :collection => item['items'][0, 3] %>

	<div class="photo_list_info">
		<%= link_to item['name'], moment_url(item['id']), :class => "moment-name" %>
		<%= link_to item['items_count'], moment_url(item['id']), :class => "photo_number_big" %>
	</div>
</div>