<div class="story_container" id="activity<%= pic[ 'id' ] %>">
	<!--
	<h1 class="ribbon red">第一天</h1>
	-->
<% if pic[ "activity_type" ] == 1 -%>
	<a href=javascript:showActivityPhoto("<%=pic['photo']['url_l']%>","<%=pic['photo']['width']%>") class="photo_container">
		<%= image_tag pic[ 'photo' ] [ 'url_m' ] %>
<% else -%>
	<a href="javascript:showActivityVideo(<%=pic['video'].to_json%>)" class="photo_container" style="position:relative">
		<%= image_tag pic[ 'photo' ] [ 'url_m' ] %>
		<%= image_tag "images/play.png" , :style => "position:absolute; bottom:5px; left:5px; width: 82px;" %>
<% end -%>
	</a>
	<%= render :partial => "mould" , :object => pic , :locals => { :category => category } %>
	<div class="info_container">
		<%= avatar_tag pic[ 'user' ] %>
		<div class="comment_container">
			<p class="user_name"> 
				<a href="/users/<%= pic[ "user" ] [ :id ] %>"> <%= pic[ "user" ] [ :name ] %> </a> 
				<div class="clearfix"> </div>
			</p>
		<% unless pic[ "description" ] .length == 0 -%>
			<p class="photo_description"> <%= empty_descripe( pic[ "description" ] ) %> </p>
		<% end -%>
			<font class="timer" title="拍摄时间"> <%= time_ago_now( pic[ "created_at" ] ) %>前 </font>
			<!--
			<font class="location">照片地址</font>
			-->
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div style="width:100%;margin:15px 0px;" id="activityinfo<%= pic[ 'id' ] %>">
	<%= render :partial => "widgets/commentbtn" , :locals => { :commented => pic[ "commented" ] , :pid => pic[ "id" ] , :count => pic[ "comments_count" ] } %>
	<%= render :partial => "widgets/likebtn" , :locals => { :liked => pic[ "liked" ] , :pid => pic[ "id" ] , :count => pic[ "likes_count" ] } %>

	<div class="story_container" style="float:left; margin-top:10px; display:none;" id="<%= pic[ 'id' ] %>comment">
		<%= render :partial => "commentbox" , :object => pic , :locals => { :type => "activity" } %>
	</div>
	<div class="clearfix"> </div>
</div>
