<div class="story_container" id="activity<%= pic[ 'id' ] %>">
	<!--
	<h1 class="ribbon red">第一天</h1>
	-->
	<a href=javascript:showActivityDetail("<%= pic['photo']['url_l'] %>") class="photo_container">
		<%= image_tag pic[ 'photo' ] [ 'url_m' ] , :style => "min-width:100%;" , :class => "lazy" %> 
	</a>
	<div class="info_container">
		<%= avatar_tag pic[ 'user' ] %>
		<div class="comment_container">
			<p class="user_name"> 
				<a href="/users/<%= pic[ "user" ] [ :id ] %>"> <%= pic[ "user" ] [ :name ] %> </a> 
				<div class="clearfix"> </div>
			</p>
			<p class="photo_description"> <%= empty_descripe( pic[ "description_comment" ] [ "content" ] ) %> </p>
			<font class="timer"> <%= time_ago_now( pic[ "created_at" ] ) %>前 </font>
			<!--
			<font class="location">照片地址</font>
			-->
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div style="width:100%;margin:15px 0px;" id="activityinfo<%= pic[ 'id' ] %>">
	<%= render :partial => "widgets/likebtn" , :locals => { :liked => pic[ "liked" ] , :pid => pic[ "id" ] , :count => pic[ "likes_count" ] } %>
	<%= render :partial => "widgets/commentbtn" , :locals => { :commented => pic[ "commented" ] , :pid => pic[ "id" ] , :count => pic[ "comments_count" ] } %>

	<div class="story_container" style="float:left; margin-top:10px; display:none;" id="<%= pic[ 'id' ] %>comment">
	<% if pic[ "comments" ] .size == 0 -%>
		<div class="info_container none_comment" style="font-size:14px; border: none;"> 还没有人添加评论 </div>
	<% else -%>
		<%= render :partial => "comment" , :collection => pic[ "comments" ] %>
	<% end -%>
		<%= render :partial => "newcomment" , :locals => { :pid => pic[ 'id' ] } %>
		<div class="clearfix"> </div>
	</div>
	<div class="clearfix"> </div>
</div>
