<div class="slideshow_window" cwidth="<%= slideshow_item[ "photo" ] [ "width" ] -%>" cheight="<%= slideshow_item[ "photo" ] [ "height" ] %>">
	<%#= image_tag slideshow_item[ "photo" ] [ "url_l" ] , :class => "slideshow_img" %>
	<img class="slideshow_img" imgsrc="<%= slideshow_item[ "photo" ] [ "url_l" ] %>">
	
	<div id="left_cover" class="cover bcolor"> </div>
	<div id="right_cover" class="cover bcolor"> </div>
	<div id="top_cover" class="cover bcolor"> </div>
	<div id="bottom_cover" class="cover bcolor"> </div>
	<%= render :partial => "moments/slideshow_info" , :locals => { :activity => slideshow_item } -%>

	<% unless slideshow_item[ "audio" ] .nil? -%>
		<div class="slideshow_audio" audioid="<%= slideshow_item[ "audio" ] [ "id" ] %>" audiosrc="<%= slideshow_item[ "audio" ] [ "filename" ] %>"> </div>
	<% end -%>

	<% unless slideshow_item[ "video" ] .nil? -%>
		<video id="<%= "video#{ slideshow_item[ "video" ] [ "id" ] }" %>" class="video-js vjs-default-skin my_video" controls preload="auto" width="100%" height="" poster="" autoplay style="z-index:-2;">
            <source src="<%= slideshow_item[ "video" ] [ "url_iphone" ] %>" type="video/mp4">
        </video>
	<% end -%>
</div>
