<%= content_for :title do %>
  <%= @moment["data"]["name"] %>的地图 - VIDA（唯达） - 你我的生活轨迹
<% end -%>

<%= content_for :prerequisite_libraries do %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<% end %>

<%= content_for :page_specific_asset do %>
  <!--[if lte IE 7]>
  <style type="text/css">
    #moment_map #container #map-col {
      width: 659px;
      margin: 0;
    }
  </style>
  <![endif]-->
<%  end -%>

<div id="moment_map">
  <div id="bg_white"> </div>
  <%= render :partial => "widgets/header" %>

  <div id="container">
	  <div id="map-col">
    	<div id="map-canvas"></div>
    </div>
    <div id="info-col">
    	
    	<div class="side-row">
        <%= render :partial => "moments/name", :locals => {:moment => @moment['data']} %>
    	</div>
    	<div class="side-row">
    		<%= render :partial => "widgets/moment_info", :locals => {:moment => @moment['data']} %>
    	</div>

      <div class="side-row">
        <%= render :partial => "widgets/participators", :locals => {:moment => @moment['data']} %>
      </div>

      <div class="side-row">
        <%= render :partial => "widgets/download_bar", :locals => {:hide_title => false} %>
      </div>
    </div>




    <script type="text/javascript">
  		window.moment = <%= raw @moment['data'].to_json %>;
      var activities = moment.items;

      $(document).ready(function () {
        window.map = new Map($("#map-canvas").get(0));
        map.setTemplate('<a href="/activities/{{id}}" target="_blank"><img src="{{photo.url_s}}" class="map-marker" /></a>');
        map.setMarkers(activities);
      });
  	</script>
  </div>
  <%= render :partial => "widgets/footer" %>
</div>