<%= content_for :title do %>
  <%= @moment[ "name" ] %> - VIDA（唯达） - 你我的生活轨迹
<% end -%>

<%= content_for :page_specific_asset do %>
<script>
	var page_now = 0 ;
	var comment_id = <%= params[ :id ] %> ;
	$( document ) .ready( function() 
	{
    	$( "#refresh-link" ) .click( function() 
    	{
            if ( page_now < <%= @max_page %> )
            {
                $( "#refresh-link" ) .text( "载入中,请稍后.." ) ;
        		page_now = page_now + 1 ;
        		var get_url = "/moments/ajax_get_new_page/" + String( comment_id ) + "?page=" + String( page_now ) ;

        		$.get( get_url , function( data ) 
        		{
        			$( "#refresh-link" ) .before( data ) ;
    				$( ".story_container" ) .show( 500 ) ;
                    if ( page_now == <%= @max_page %>)
                    {
                        $( "#refresh-link" ) .text( "没有更多的照片了." ) ;
                    } else
                    {
                        $( "#refresh-link" ) .text( "点击显示更多照片" ) ;
                    }
        		} ) ;
            }
        });
	});
</script>
<% end -%>

<div id="moment-show-page">
    <%= render :partial => "widgets/header" , :locals => { :user => @cur_user } %>
    <%= render :partial => "widgets/cover" , :locals => { :cover => @momment_cover } %>

 	<div id="main-block">
 		<div id="main-block-header"> 
 			<div id="download-place">
 				<%= @moment[ "user" ] [ "name" ] %>正在使用<p>VIDA</p>记录生活,下载手机客户端,与其戏耍之!!!
 			</div>
 			<div id="title-place">
 				<h1>[<%= @moment[ "moment_type" ] %>] <%= @moment[ "name" ] %> </h1>
 				<p> <%= "#{ @moment[ "created_at" ] [ 0 .. 9 ] } - #{ @moment[ "modified_at" ] [ 0 .. 9 ] }" %> </p>
 			</div>
            <a href="#" class="btn_dark btn_middle" style="margin-top:25px;float:right;">
                <%= image_tag "images/icon_share.png" , :alt => "" %>
                &nbsp&nbsp&nbsp&nbsp&nbsp分享
            </a>
            <div class="clearfix"> </div>
 		</div>

        <div id="story_info">
            <%= image_tag "images/icon_arrow.png" , :alt => "" , :class => "arrow" %>
            <div class="story_container">
                <div class="info_container">
                    <p id="story_description">
                        <%= empty_descripe( @moment[ "user" ] [ "content" ] ) %>
                    </p>
                </div>
                <div class="info_container">
                    <p id="location_list">景点</p>
                    <div id="map">
                        <%= image_tag "images/test_map.png" , :alt => "" , :id => "google_map" %>
                    </div>
                </div>
            </div>
        </div>

 		<div id="pic-block">
 			<a id="refresh-link">点击显示更多照片</a>
 			<div class="clearfix"> </div>
 		</div>

 		<div id="commend-block">
 			<div id="participator-block">
 			</div>
 			<div class="one-commend">
 			</div>
 			<div id="new-commend-part">
 			</div>
 		</div>
 		<div class="clearfix"> </div>
 	</div>
</div>