<%= content_for :title do %>
  <%= get_name( @moment ) %>VIDA（唯达） - 你我的生活轨迹
<% end -%>

<%= content_for :page_specific_asset do %>
<script>
    // GOOGLE MAP
    $( document ) .ready( function() 
    {
        if ( <%= @moment[ "lat" ] != 0 || @moment[ "lng" ] != 0 %> ) 
        {
            var options = {size:GSize(418, 308), backgroundColor:"#BBBBBB"};
            var map = new GMap2(document.getElementById("map"), options);
            map .setCenter(new GLatLng(<%= @moment[ "lat" ] %>, <%= @moment[ "lng" ] %>), 15);
            map .enableDragging() ;
            map .enableDoubleClickZoom() ;
            map .enableContinuousZoom() ;
            map .enableScrollWheelZoom() ;
            map .addControl( new GSmallMapControl() ) ;
        }
    });
</script>
<script>
    //LAZY LOAD
	var page_now = 1 ;
	var comment_id = <%= params[ :id ] %> ;
    var max_page = <%= @max_page %> ;
    var url_part = "moments" ;
    function goLazyLoad()
    {
        if ( page_now < max_page )
            page_now = lazyload( url_part , comment_id , page_now , max_page , ".story_container" ) ;
    }
    // CLICK EVENT
	$( document ) .ready( function() 
	{
        // Story container
        $( "#title-place" ) .click( function() {
            $( "#story_info" ) .slideDown() ;
        });

        // New comment
        $( "form.activity_comment" ) .submit( function() {
            var $selector = $( this ) ;
            var content = $( this ) .find( ".text_area" ) .eq( 0 ) .val() ;
            var activity_id = parseInt( $( this ) .parent() .attr( "id" ) ) ;
            $.ajax({
                type: "GET" ,
                url: "/misc/ajax_new_comment", 
                data: { activity_id: activity_id, content: content, comment_type: "Activity"}
            }) .done( function( data ) {
                showCenterBox( "评论成功." ) ;
                $selector .parent() .find( ".none_comment" ) .remove() ;
                $selector .before( data ) ;
                var $btnselector = $selector .parent() .parent() .find( "a.comment" ) .eq( 0 ) ;
                var nowCommentedCountStr = $btnselector .text() ;
                var nowCommentedCount = parseInt( nowCommentedCountStr ) + 1 ;
                $btnselector .text( nowCommentedCount ) ;
                $btnselector .addClass( "commented" ) ;
            });
            return false ;
        });
	});
</script>
<% end -%>

<div id="moment-show-page">
    <%= render :partial => "widgets/header" , :locals => { :user => @cur_user } %>
    <%= render :partial => "widgets/cover" , :locals => { :cover => @moment_cover } %>
    <div id="main-block">
 		<div id="main-block-header"> 
 			<div id="download-place">
 				<%= @moment[ "user" ] [ "name" ] %>正在使用<p>VIDA</p>记录生活,下载手机客户端,与其戏耍之!!!
 			</div>
            <%= render :partial => "header" , :locals => { :moment => @moment } %>
<% if @current_user -%>
            <%= link_to image_tag("images/icon_share.png") + "分享" , "#" , :class=>"btn_dark btn_middle" ,:style=>"margin-top:25px;float:right;padding-left:40px;" %>
            <div class="clearfix"> </div>
        </div>

        <div id="story_info">
            <%= image_tag "images/icon_arrow.png" , :alt => "" , :class => "arrow" %>
            <%= render :partial => "storycontainer" , :locals => { :moment => @moment } %>
        </div>
        <div id="pic-block">
            <%= render :partial => "moments/pic" , :collection => @moment[ "items" ] %>
            <a id="refresh-link" class="mouse" href=javascript:goLazyLoad()>点击显示更多</a>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
<% else -%>
            <div class="clearfix"> </div>
        </div>
        <div class="text-info">
            <p>登录后查看更多内容<p>
        </div>
    </div>
    <%= render :partial => "widgets/login" %>
<% end -%>
</div>