<%= content_for :title do %>
  <%= get_name( @moment ) %>VIDA（唯达） - 你我的生活轨迹
<% end -%>

<%= content_for :page_specific_asset do %>
<script>
    //LAZY LOAD
    var page_now = 1 ;
    var comment_id = <%= params[ :id ] %> ;
    var url_part = "moments" ;
    function goLazyLoad()
    {
        page_now = lazyload( url_part , comment_id , page_now ) ;
    }
    // Call comment box
    function callComment( num )
    {
        $( "#" + num + "comment" ) .slideToggle() ;
    }
    // CLICK EVENT
	$( document ) .ready( function() 
	{
        // Story container
        $( "#title-place" ) .click( function() {
            $( "#story_info" ) .slideToggle() ;
        });
        if ( !<%= @need_show %> ) $( "#story_info" ) .slideToggle() ;
	});
</script>
<% end -%>

<div id="moment-show-page">
    <%= render :partial => "widgets/header" , :locals => { :user => @cur_user } %>
    <%= render :partial => "widgets/cover" , :locals => { :cover => @moment_cover } %>
    <div id="main-block">
 		<div id="main-block-header"> 
<% unless @current_user -%>
 			<div id="download-place">
 				<%= @moment[ "user" ] [ "name" ] %>正在使用<p>VIDA</p>记录生活,下载手机客户端,与其戏耍之!!!
 			</div>
<% else -%>
            <div id="download-place-blank" style="background:none; height:108px;"> </div>
<% end -%>
            <%= render :partial => "header" , :locals => { :moment => @moment } %>
<% if @current_user -%>
            <%= render :partial => "sharebtn" , :locals => { :mid => @moment[ 'id' ] , :name => @moment[ 'name' ] } %>
            <div class="clearfix"> </div>
        </div>

        <div id="story_info">
            <%= image_tag "icon/icon_arrow.png" , :alt => "" , :class => "arrow" %>
            <%= render :partial => "storybanner" , :locals => { :moment => @moment } %>
        </div>
        <div id="pic-block">
            <%= render :partial => "moments/pic" , :collection => @moment[ "items" ] %>
            <a id="refresh-link" class="mouse" href=javascript:goLazyLoad()>点击显示更多</a>
            <div class="clearfix"> </div>
        </div>
        <div class="story_container" id="comment-block">
            <div class="info_container" style="padding-bottom: 0px; border-top: medium none;">
                <p id="join_number">喜欢的人 <%= @moment[ "likes_count" ] %></p>
                <%= render :partial => "participator" , :collection => @moment[ "likes_users" ] , :locals => { :image_url => "icon/icon_join_liked.png" } %>
                <div class="clearfix"></div>
            </div>
            <%= render :partial => "commentbox" , :object => @moment , :locals => { :type => "moment" } %>
        </div>
        <div class="clearfix"> </div>
    </div>
<% else -%>
            <div class="clearfix"> </div>
        </div>
        <div class="text-info">
            <p>登录后查看更多内容</p>
        </div>
    </div>
    <%= render :partial => "widgets/login" %>
<% end -%>
</div>
