<%= content_for :title do %>
    <% moment_name @moment %>
    <%= get_name( @moment ) %>Vida（微达） - 你我的生活轨迹
<% end -%>

<%= content_for :page_specific_asset do %>
<script src="http://ditu.google.cn/maps?file=api&hl=zh-CN&v=2&key=AIzaSyA56gGBHbDHTB73xRHaI7ptDo1WZc8lORA" type="text/javascript"></script>
<script>
    //LAZY LOAD
    var page_now = 1 ;
    function goLazyLoad()
    {
        page_now = page_now + 1 ;
        var params = "page=" + page_now ;
        lazyload( "moments" , <%= params[ :id ] %> , params ) ;
    }
    // Call comment box
    function callComment( num )
    {
        $( "#" + num + "comment" ) .slideToggle() ;
    }
    // CLICK EVENT
	$( document ) .ready( function() 
	{
        // Story container
        $( "#title-place" ) .click( function() {
            $( "#story_info" ) .slideToggle() ;
        });

        // Comment function
        $( "form" ) .live( "submit" , function() { 
            $( this ) .find( "input,textarea" ) .css( "background-color" , "rgba(0,0,0,0.3)" ) ; 
        }) ;
        $( ".more_comment" ) .live( "click" , function() {
            $( this ) .text( "载入中.." ) ;
        }) ;
        $( ".one_comment" ) .live( "click" , function() {
            var name = $( this ) .find( ".user_name" ) .eq( 0 ) .text() ;
            name = name .replace( " " , "" ) ;
            var text = $( this ) .parent() .parent() .find( "input" ) .val() ;
            $( this ) .parent() .parent() .find( "input" ) .val( "回复@" + name + ":" ) ;
            $( this ) .parent() .parent() .find( "input" ) .focus() ;
        }) ;

        // pre show <- fix #148
        <% unless notice .nil? -%>
            activity = <%= raw @activity .to_json %> ;
            if ( activity .activity_type == 1 )
                showActivityPhoto( activity .photo .url_l , activity .photo .width ) ;
            else 
                showActivityVideo( activity .video ) ;
        <% end -%>
	});
</script>
<% end -%>

<div id="moment-show-page">
    <%= render :partial => "widgets/header" , :locals => { :user => @cur_user } %>
    <%= render :partial => "widgets/cover" , :locals => { :cover => @moment_cover } %>
    <div id="main-block">
 		<div id="main-block-header">
            <% unless @current_user -%>
            <div href="/" id="download-place">
                <p class="font1"> <%= @moment[ "user" ] [ "name" ] %>正在使用 </p>
                <p class="red_font">Vida</p>
                <p class="font1"> 分享生活,下载手机客户端.</p>
                <%= render :partial => "widgets/download_bar" %>
            </div>
            <% else -%>
            <div id="download-place-blank"> </div>
            <% end -%>
            <%= render :partial => "header" , :locals => { :moment => @moment } %>
            <%= render :partial => "sharebtn" , :locals => { :mid => @moment[ 'id' ] , :name => @moment[ 'name' ] } %>
            <%= render :partial => "mapbtn" , :locals => { :moment => @moment } -%>
            <div class="clearfix"> </div>
        </div>

        <%= render :partial => "storybanner" , :locals => { :moment => @moment } %>

        <div id="pic-block">
            <%= render :partial => "pic" , :collection => @moment[ "items" ] , :locals => { :category => @moment[ "category" ] } %>
            <% if @moment[ "items_count" ] > 20 -%>
            <a id="refresh-link" class="mouse" style="width:100%;margin-left:0;" href=javascript:goLazyLoad()>点击显示更多</a>
            <% else -%>
            <a id="refresh-link" style="width:100%;margin-left:0;">没有更多了</a>
            <% end -%>
            <div class="clearfix"> </div>
        </div>

        <div class="story_container" id="comment-block">
            <div class="info_container" style="padding-bottom: 0px; border-top: medium none;">
                <p id="join_number">喜欢数 <%= @moment[ "likes_count" ] %></p>
                <%= render :partial => "participator" , :collection => @moment[ "likes_users" ] , :locals => { :image_url => "icon/icon_join_liked.png" } %>
                <div class="clearfix"></div>
            </div>
            <div style="border-top:1px solid #FFFFFF"> </div>
            <%= render :partial => "commentbox" , :object => @moment , :locals => { :type => "moment" } %>
        </div>
        <div class="clearfix"> </div>
    </div>
    <% unless @current_user -%>
    <%= render :partial => "widgets/login" %>
    <% end -%>
</div>
