	<%= content_for :page_specific_asset do %> 	
 		<%= stylesheet_link_tag "moments/details.reset" %>
 		<%= stylesheet_link_tag "moments/details" %>
		<!--[if IE]>
			<%= stylesheet_link_tag "moments/details.ie" %>
		<![endif]-->
 	<%  end -%>


<%= content_for :title do %>
  <%= @moment["data"]["name"] %> - VIDA（唯达） - 你我的生活轨迹
<% end -%>


<div id="moment-details">
	<%= render :partial => "widgets/header" %>
	<div id="main">
		<%= render :partial => "widgets/banner" unless cookies[:is_banner_closed] %>
		<div id="left">
			<div id="moment_info">
				<div class="container_left">
					<div class="top"></div>
					<div class="content">
						<div>
							<script type="text/javascript">
								moment = <%= raw @moment.to_json %>
							</script>
							<div id="row-title"><%= @moment['data']['name']  %></div>
							<font> <%= @moment['data']['user']['name'] %> </font>
							<p> <%= @moment['data']['location'] %> </p>
						</div>
					</div>
					<div class="bottom"></div>
				</div>
				<%= image_tag @moment['data']['user']['avatar_file'] %>
			</div>
			<div id="thumbnail_area_big">
			  <%= render :partial => "moments/details/thumbnails", :collection => @moment['data']['items'], :as => 'activity'  %>
				<div class="clear"></div>
				<div id="page_bar">
					<font class="photo_number_big"><%= @moment['data']['items_count'] %></font>


					<% if @moment['page_count'].to_i > 1 %>
					<div class="page_number_area">
							<%= vida_pagination moment_url(@moment['data']['id']), @moment['page_count'], @moment['current_page'], {:remote => false, :page_size => 6} %>
					</div>
					<% end %>


					<div class="clear"></div>
				</div>

			</div>


		</div>

		<div id="info-col" class="container_right">

			<div class="side-row">
				<%= render :partial => "widgets/award_list", :locals => {:moment => @moment['data']['winners']} %>
			</div>

			<div class="side-row">
				<%= render :partial => "widgets/moment_info", :locals => {:moment => @moment['data']} %>
			</div>

			<div class="side-row">
				<%= render :partial => "widgets/participators", :locals => {:moment => @moment['data']} %>
			</div>
			<div class="side-row">
				<%= render :partial => "widgets/map", :locals => {:moment_id => @moment['id'], :activities => @moment['data']['items'] } %>
			</div>
			<div class="side-row">
				<%= render :partial => "widgets/download_bar", :locals => {:hide_title => false} %>
			</div>

		</div>


	</div>

	<%= render :partial => "widgets/footer" %>


</div>
