<%= content_for :title do %>
    <% moment_name @moment %>
    <%= get_name( @moment ) %>Vida（微达） - 手机照片故事社区
<% end -%>

<%= content_for :prerequisite_libraries do %>
	<!--<meta name="apple-itunes-app" content="app-id=454984086, affiliate-data=myAffiliateData, app-argument=myURL">-->
<% end -%>

<%= content_for :page_specific_asset do %>
<script type="text/javascript">
	jQuery( function() {
		now_color = parseInt( Math.random() * 6 ) ;
		change_color() ;
		blur_start( "slideshow_background_img" ) ;

		$( "#slideshow_index" ) .css( "height" , ( window_height - 100 ) + "px" ) ;
		$( "#play_slideshow_btn_area" ) .css( "top" , ( window_height - 100 - 260 ) / 2 + "px" ) ;
		$( "#slideshow_start" ) .css( "margin-top" , ( window_height - 260 ) / 2 + "px" ) ;
		$( "#slideshow_end" ) .css( "height" , ( window_height - 100 ) + "px" ) ;
		$( "#end_slideshow_part" ) .css( "top" , ( window_height - 100 - 260 ) / 2 + "px" ) ;

		soundManager.setup( {
			url: '/swf/' , 
			flashVersion: 9 ,
			useFlashBlock: false , 
			onready : function() {
				if ( play_state == 0 )
					play_background_music() ;
			}
		} ) ;
	});
</script>
<% end -%>

 <%#---Slideshow background---%>
<div id="slideshow_background">
	<img id="slideshow_background_img" imgsrc="<%= @moment[ "items" ] [ 0 ] [ "photo" ] [ "url_l" ] %>" cwidth="<%= @moment[ "items" ] [ 0 ] [ "photo" ] [ "width" ] %>" cheight="<%= @moment[ "items" ] [ 0 ] [ "photo" ] [ "height" ] %>">
</div>

<%#---Slideshow header---%>
<div id="slideshow_header">
	<div class="black_cover"> </div>
	<div id="slideshow_header_content">
		<div id="header_left">
			<%= link_to image_tag( "slideshow/vida_icon.png" ) , "/" %>
		</div>
		<div id="header_right">
			<p id="header_des">Vida 生活. 照片. 微电影</p>

			<% if request.user_agent =~ /(android|ipod|iphone)/i -%>
				<%= link_to image_tag( "slideshow/icon_play_vida.png" ) , "vida://slideshow?id=#{ @moment[ "id" ] }" , :class => "header_btn" %>
				<%= link_to image_tag( "slideshow/icon_download.png" ) , "/" , :class => "header_btn" %>
			<% else -%>
				<%= link_to image_tag( "slideshow/icon_download_iphone.png" ) , "http://itunes.apple.com/cn/app/id454984086?ls=1" , :class => "header_btn" %>
				<%= link_to image_tag( "slideshow/icon_download_android.png" ) , "/android_download" , :class => "header_btn" %>
			<% end -%>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>

<%#---Index of slideshow---%>
<div id="slideshow_index">
	<div class="black_cover"> </div>
	<div id="play_slideshow_btn_area">
		<%= link_to "javascript:start_slideshow()" , :id => "play_slideshow_btn" do -%>
			<%= image_tag( "slideshow/btn_play2.png" ) %>
			<p>播放照片微电影</p>
		<% end -%>
		<%= link_to image_tag( "slideshow/icon_more.png" ) , "/moments/#{ @moment[ "id" ] }?md=ms" , :class => "goto_momentshow" %>
	</div>
</div>

<%#---Starting animate of slideshow%>
<div id="slideshow_start">
	<div id="start_user_avatar" class="roundavatar image"> 
		<div class="roundavatar_file" style="background-image:url(<%=@moment[ "user" ] [ "avatar_file" ] -%>); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='<%= @moment[ "user" ] [ "avatar_file" ] -%>',sizingMethod='scale');"> </div>
	</div>
	<p id="start_user_name" class="text"><%= @moment[ "user" ] [ "name" ] %></p>

	<%= image_tag "slideshow/slideshow-catogory.png" , :id => "start_category_img" , :class => "image" -%>
	<p id="start_category_text" class="text">#<%= moment_category( @moment[ "category" ] ) %> <%= moment_name( @moment ) %></p>
	
	<%= image_tag "slideshow/slideDate.png" , :id => "start_date_img" , :class => "image" -%>
	<p id="start_date_text" class="text"><%= moment_date( @moment[ "created_at"] ) %></p>
</div>

<%#---Main area of slideshow---%>
<div id="slideshow">
	<%= render :partial => "moments/slideshow_item" , :collection => @moment[ "items" ] %>
</div>

<%#---Ending of slideshow---%>
<div id="slideshow_end">
	<div class="black_cover"> </div>
	<div id="end_slideshow_part">
		<%= link_to "/users/#{ @moment[ "user" ] [ "id" ] }" , :class => "roundavatar" , :style => "margin:0 auto 30px;" do %>
			<div class="roundavatar_file" style="background-image:url(<%=@moment[ "user" ] [ "avatar_file" ] -%>); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='<%= @moment[ "user" ] [ "avatar_file" ] -%>',sizingMethod='scale');"> </div>
		<% end -%>
		<div class="clearfix"> </div>
		<div style="margin:0 auto; width:230px;">
			<%= link_to like_moment_url( @moment[ "id" ] ) + "?agent=slideshow" , :class => "roundbutton" , :style => "margin-right: 40px;" , :remote => true , :method => :put do -%>
					<%= image_tag "slideshow/slideshow-like.png" , :class => "slideshow_like_btn" , :style => "#{ "display:none" unless @moment[ "liked" ] }" -%>
					<%= image_tag "slideshow/slideshow-unlike.png" , :class => "slideshow_unlike_btn" , :style => "#{ "display:none" if @moment[ "liked" ] }" -%>
			<% end -%>
			<%= link_to "/moments/#{ @moment[ "id" ] }?md=ms#comment-block" , :class => "roundbutton" do -%>
				<%= image_tag "slideshow/slideshow-comment.png" -%>
			<% end -%>
			<%= link_to sharelist_moment_url( @moment[ "id" ] ) + "?name=#{ @moment[ "name" ] }" , :remote => true , :method => :get , :class => "roundbutton" , :style => "margin-left: 40px;" do -%>
				<%= image_tag "slideshow/slideshow-share.png" -%>
			<% end -%>
			<div class="clearfix"> </div>
		</div>
		
		<%= link_to image_tag( "slideshow/icon_more.png" ) , "/moments/#{ @moment[ "id" ] }?md=ms" , :class => "goto_momentshow" %>
	</div>
</div>

<%#---Bar of slideshow---%>
<div id="slideshow_bar_container">
	<div id="slideshow_bar">
		<%= link_to like_moment_url( @moment[ "id" ] ) + "?agent=slideshow" , :id => "bar_btn_1" , :remote => true , :method => :put do %>
			<%= image_tag "slideshow/bar_like_on.png" , :class => "slideshow_like_btn" , :style => "#{ "display:none" unless @moment[ "liked" ] }" -%>
			<%= image_tag "slideshow/bar_like_off.png" , :class => "slideshow_unlike_btn" , :style => "#{ "display:none" if @moment[ "liked" ] }" -%>
		<% end -%>
		<%= link_to "javascript:play_pause()" , :id => "bar_btn_2" do %>
			<%= image_tag "slideshow/bar_pause.png" , :class => "slideshow_bar_pause" %>
			<%= image_tag "slideshow/bar_play.png" , :class => "slideshow_bar_play" , :style => "display:none;" %>
		<% end -%>
		<%= link_to "javascript:music_change()" , :id => "bar_btn_3" do %>
			<%= image_tag "slideshow/bar_music_on.png" , :class => "slideshow_bar_musicoff" -%>
			<%= image_tag "slideshow/bar_music_off.png" , :class => "slideshow_bar_musicon" , :style => "display:none;" %>
		<% end -%>
	</div>
</div>

<div id="slideshow_loading">
	<% for i in 0..7 do -%>
		<%= image_tag "slideshow/loading/loading-0#{ i }.png" , :id => "loading#{ i }" -%>
	<% end -%>
</div>

<div id="slideshow_audio_hint">
</div>
