<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= yield :title %></title>
  <meta name="Description" content="<%= raw yield :meta_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <%= yield :prerequisite_libraries %>
<!--[if IE 6]>
<%= javascript_include_tag "DD_belatedPNG_0.0.8a" %>
<script type="text/javascript">
  DD_belatedPNG.fix('img,img');
  DD_belatedPNG.fix('a,background');
  DD_belatedPNG.fix('p,background');
  DD_belatedPNG.fix('.ribbon,background');
</script>
<![endif]--> 
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application" %>

  <%= csrf_meta_tags %>

  <%= yield :page_specific_asset %>

</head>
<body>
  <div> </div>

  <%= yield %>  
  <div id="footer">
    <%= link_to "商务合作" , business_url , :class => "footer_text mouse" %>
    <p class="footer_text">&nbsp;&nbsp;|&nbsp;&nbsp;</p>
    <%= link_to "联系我们" , about_url , :class => "footer_text mouse" %>
    <p class="footer_text">&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn" style="float:right" class="mouse">沪ICP备10216111号-2</a></p>
    <%= image_tag( "index/bb3.png" , :class => "gov_icon" ) %>
  </div>

  <div id="theatre"> <div class="theatre_blank"> </div> </div>
  <!-- <div id="broadcast" style="display:none;"> </div> -->

<!--[if IE]>
  <script type="text/javascript">
    $( "#staruser_list .feature_user:nth-child(4n)" ) .css( "margin-right" , "0" ) ;
    $( ".star-user-row .feature_user:first-child" ) .css( "margin-left" , "0" ) ;
    $( "#theme_list .thumbnail:nth-child(3n)" ) .css( "margin-right" , "0" ) ;
    $( "#hot-story .thumbnail:nth-child(2n)" ) .css( "margin-right" , "0" ) ;
    $( ".text-info" ) .css( "background-color" , "gray" ) ;
    $( "#refresh-link" ) .css( "background-color" , "gray" ) ;
    $( "#download-place" ) .css( "background-color" , "gray" ) ;
  </script>
<![endif]--> 

<!--[if IE 6]>
  <script type="text/javascript">
    $( "div" ) .each( function(){
      if ( $( this ) .css( "position" ) == "fixed" ) 
        $( this ) .css( "position" , "absolute" ) ;
    }) ;
    $( "#discover-page #main-main-block" ) .css( "width" , "1050" ) ;
  </script>
<![endif]--> 

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19458693-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <script type="text/javascript">
    $(function() {
      $("img.lazy").lazyload();
    }); 
  </script>
  <%= yield :page_specific_asset_tail %>
</body>
</html>
